.example-spacer {
    flex: 1 1 auto;
  }
  $accent-color:#3F51B5;

  .bgi{
    color: whitesmoke;
  }

  .example-full-width {
    width: 100%;
  }
  h4, h3, p, mat-card-header mat-card-content mat-list-item{
    color: rgb(80, 79, 79);
  }
