<div *ngIf="showSplash" class="custom" [ngStyle]="{'opacity': opacityChange, 'transition': splashTransition}"> 
    <div class="app-splash-content">

       <div data-text="Loading" class="loading-text">
         <img src="assets/icons/icon-192x192.png" alt="Icon">
         <br>
          Zenys
          <div class="app-loader">
            <div class="spinner">
               <div class="bounce1"></div>
               <div class="bounce2"></div>
               <div class="bounce3"></div>
             </div>
          </div>
       </div>
    </div>
 </div>

