<mat-toolbar color="primary" class="toolbar">
    <mat-toolbar-row>
        <!-- <a routerLink="/" class="navbar-brand">Z</a> -->
        <a routerLink="/" class="navbar-brand">Z</a><span
        style="width: 87px; height: 64px; font-size: 20px; color: white; display: flex; align-items: center;">ZENYS</span>
      <!-- <h1>SimpleCRM</h1> -->
      <!-- <span class="menu-spacer"></span> -->
      <span class="example-spacer"></span>
      <div >
        <button style="float: right;"  mat-icon-button style="color: ghostwhite;" aria-label="Example icon button with a home icon">
            <mat-icon (click)="logout()"><span class="material-icons-outlined">
                logout
                </span></mat-icon>
          </button>
      </div>
    </mat-toolbar-row>
  
    
  </mat-toolbar>