.navbar-brand {
    padding: 11px 15px 11px 15px;
    text-decoration: none;
    background-color: white;
    color: #2A6AF6;
    font-size: 24px;
    font-weight: 700;
    border-radius: 8px;
    // margin: 5px 14px 5px 13px;
    // margin-bottom: 5px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }
  .toolbar{
    // padding-bottom: 20px;
    margin-bottom: 20px;
  }