mat-error {
    color: red;
  }

  .example-full-width {
    width: 100%;
  }

  .hr-highlight {
    border-top: solid #3a9efd 1px;
  }

  .mat-form-field+.mat-form-field {
    margin-left: 8px;
  }

  #padding {
    margin-top: 0pt;
    margin-bottom: 0pt;
    padding-right: 0pt;
    padding-left: 0pt;
    padding-top: 0pt;
    padding-bottom: 0pt;
    min-width: 4px;
  }

  #paddingamount {
    margin-top: 3pt;
    margin-bottom: 3pt;
    padding-right: 3pt;
    padding-left: 3pt;
    padding-top: 3pt;
    padding-bottom: 3pt;
  }

  mat-error {
    color: red;
  }