<div class="bg-light" style="height: 100vh;">
  <br> <br>
  <div class="container border bg-white" style="  padding: 50px; margin-top: 150px; max-width:800px;
   border-radius: 5px;">
    <div class="d-flex flex-column justify-content-center" style="padding: auto;">
      <div class="row">
        <div class="col-md-6">
          <img src="assets/images/login.png" alt="pic1" style="
        padding: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        opacity: 1;
        background: transparent 0% 0% no-repeat padding-box;
      " />
        </div>
        <!-- LOGIN LANDING PAGE -->
        <div class="col-md-6" *ngIf="scenario=='landingLogin'">
          <div>
            <div>
              <div class="centered">
                <h2 style="color: #1565C0;">Sign Up or Login</h2>
              </div>
              <div class="centered">
                <button mat-raised-button class="googleBtn" (click)="signInWithGoogle()">
                  <img src="assets/img/others/googleicon.png" width="24px" height="24px" />
                  Sign in with Google
                </button>
              </div>
              <br>
              <div class="centered">
                <button mat-raised-button class="emailBtn" (click)="selectedLogin()">
                  <mat-icon>mail</mat-icon>
                  Sign in with email
                </button>
              </div>
              <br>
              <div class="centered text-muted">
                <span>Are you a new user?&nbsp;<a href="javascript:void(0)" (click)="selectedSignUpLanding()">Sign
                    Up</a></span>
              </div>
            </div>
          </div>
        </div>
        <!-- googleSignin -->
        <div class="col-md-6" *ngIf="scenario==='googleSignin'">
          <div class="centered">
            <h2 style="color: #1565C0;">You already have an account</h2>
          </div>
          <br>
          <div class="centered text-muted">
            You have already used {{googleMail}}. Sign in with Google to continue
          </div>
          <br>
          <div class="centered">
            <button mat-raised-button class="googleBtn" (click)="signInWithGoogle()">
              <img src="assets/img/others/googleicon.png" width="24px" height="24px" />
              Sign in with Google
            </button>
          </div>
        </div>
        <!-- LOGIN FORM IF SIGNIN WITH EMAIL SELECTED -->
        <div class="col-md-6" *ngIf="scenario=='login'">
          <mat-card>
            <h2 style="color: #1565C0;">Sign in with email</h2>
            <!-- login form starts here -->
            <form [formGroup]="loginForm" (ngSubmit)="onSUbmitLoginForm()">
              <mat-form-field class="fullWidth">
                <input matInput placeholder="Email address" formControlName="email" />
                <mat-error *ngIf="email?.errors?.required">Email is required</mat-error>
                <mat-error *ngIf="email?.errors?.email">Provide a valid email address</mat-error>
              </mat-form-field>
              <mat-form-field class="fullWidth">
                <input matInput placeholder="Password" formControlName="password" type="password" />
                <mat-error *ngIf="password?.errors?.required">Password is required</mat-error>
                <mat-error *ngIf="password?.errors?.minLength">Minimum six characters required</mat-error>
              </mat-form-field>
              <br>
              <div class="d-flex justify-content-between">
                <div style="padding-top: 8px">
                  <a href="javascript:void(0)" (click)="resetPassword()">Trouble Signing in?</a>
                </div>
                <div>
                  <button mat-raised-button color="primary" type="submit"
                    [disabled]="disableLoginBtn || !loginForm.valid">Login</button>
                </div>
              </div>
              <br>
            </form>
            <!-- login form ends gere -->
          </mat-card>
        </div>
        <!-- SIGNUP FORM IF SIGNUP IS SELECTED -->
        <div class="col-md-6" *ngIf="scenario=='landingSignUp'">
          <mat-card>
            <h2 style="color: #1565C0;">Create Account</h2>
            <!-- signup form starts here -->
            <form [formGroup]="signupForm" (ngSubmit)="onSUbmitSignUpForm()">
              <mat-form-field class="fullWidth">
                <input matInput placeholder="Email address" formControlName="mail" />
                <mat-error *ngIf="mail?.errors?.required">Email is required</mat-error>
                <mat-error *ngIf="mail?.errors?.email">Provide a valid email address</mat-error>
              </mat-form-field>
              <mat-form-field class="fullWidth">
                <input matInput placeholder="Password" formControlName="pwd" [type]="show ? 'text' : 'password'" />
                <button matSuffix mat-icon-button *ngIf="show === false" aria-label="Show password" color="accent"
                  (click)="passwordToggle()">
                  <mat-icon>visibility_off</mat-icon>
                </button>
                <button matSuffix mat-icon-button *ngIf="show === true" aria-label="Hide password" color="accent"
                  (click)="passwordToggle()">
                  <mat-icon>visibility</mat-icon>
                </button>
                <mat-error *ngIf="pwd?.errors?.required">Password is required</mat-error>
                <mat-error *ngIf="pwd?.errors?.minLength">Minimum six characters required</mat-error>
              </mat-form-field>
              <br>
              <div align="end">
                <button mat-raised-button (click)="selectedLandingLogin()" [disabled]="disableSignUpBtn">Cancel</button>
                &nbsp;&nbsp;
                <button mat-raised-button color="primary" type="submit"
                  [disabled]="disableSignUpBtn || !signupForm.valid">Save</button>
              </div>
            </form>
            <!-- signup form ends gere -->
          </mat-card>
          <br>
          <div class="text-muted">
            By creating an account, you agree to the <a href="https://zenys.org/page-terms-and-services.html">Terms
              of
              Service</a> and <a href="https://zenys.org/page-privacy.html">Privacy Policy</a>.
          </div>

        </div>
        <!-- RESET PASSWORD FORM IF TROUBLE IN SIGNING IN SELECTED -->
        <div class="col-md-6" *ngIf="scenario == 'resetPassword'">
          <mat-card>
            <h2 style="color: #1565C0;">Recover Password</h2>

            Get instructions sent to this email that explain how to reset your password
            <br>
            <!--reset pwd form starts here -->
            <form [formGroup]="resetPwdForm" (ngSubmit)="onSUbmitResetForm()">
              <mat-form-field class="fullWidth">
                <input matInput placeholder="Email address" formControlName="resetMail" />
                <mat-error *ngIf="resetMail?.errors?.required">Email is required</mat-error>
                <mat-error *ngIf="resetMail?.errors?.email">Provide a valid email address</mat-error>
              </mat-form-field>
              <br>
              <div align="end">
                <button mat-raised-button (click)="selectedLandingLogin()" [disabled]="disableResetBtn">Cancel</button>
                &nbsp;&nbsp;
                <button mat-raised-button color="primary" type="submit"
                  [disabled]="disableResetBtn || !resetPwdForm.valid">Send</button>
              </div>
            </form>
            <!-- reset pwd form ends gere -->

          </mat-card>
        </div>
      </div>
    </div>
  </div>

</div>
