

<!-- <div class="custom mat-elevation-z8" >
  <h2>ATTENDANCE MANAGEMENT</h2>
  <br>
  <br>
  <firebase-ui></firebase-ui>
</div> -->

<div class="container " style="  padding: 50px; margin-top: 150px; max-width:800px;
 color: #1565C0; border-radius: 5px;text-align: center;">
  <div class="d-flex flex-column justify-content-center" style="padding: auto;">
    <div style="height: 50px;"></div>
    <div class="row">
      <div class="col-md-6">
        <img src="assets/images/login.png" alt="pic1" style="
      padding: auto;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 90%;
      opacity: 1;
      background: transparent 0% 0% no-repeat padding-box;
    " />
      </div>
      <div class="col-md-6">
        <div class="p-2 ">
          <h2 style="color: #1565C0;">Sign Up or Login</h2>
        </div>
        <div class="p-2 ">
          <firebase-ui></firebase-ui>
        </div>
      </div>
    </div>
  </div>
</div>
