
.course-title {
  font-size: 15px;
  font-weight: 400;
}

.icon-verified {
  color: #558B2F;
  font-weight: bolder;
}
.icon-reject{
  color: #d32f2f;
  font-weight: bolder;
}
.docName{
  margin-top: 15px;
}
.filename-style{
  color: #78909c;
}
