#main {
    padding: 0px;
    background-color: ghostwhite;
}
#sub{
    background-color: white; min-height: 750px
}
#col3 ,#col9{
    padding: 0px;  
}
#div{
    border-right: 1px solid lightgrey; height: 100%
}
#span1{
    font-weight: bold" class="truncate-cell
}
.mat-h3{
    font-weight: bold
}
mat-spinner {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}