<h2 mat-dialog-title *ngIf="this.data.scenario == 'assigned'">Re-Assign {{this.data.fieldNameSale}} </h2>
<mat-dialog-content class="mat-typography" *ngIf="this.data.scenario == 'assigned'">
  <h3>Do you want to re-assign this {{this.data.fieldNameSale}} under {{this.data.prevAssigned}} to {{this.data.currAssigned}}?</h3>
  <mat-checkbox class="example-margin" [(ngModel)]="data.checked">
    Re-Assign associated {{data.fieldNameEstimate}}, {{data.fieldNameQuotation}}, {{data.fieldNameInvoice}}, open {{data.fieldNameTask}}s and open {{data.fieldNameFollowup}}s
  </mat-checkbox>
</mat-dialog-content>
<mat-dialog-actions align="end" *ngIf="this.data.scenario == 'assigned'">
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button color="primary" mat-button
    [mat-dialog-close]="this.data"
    >Re-Assign</button>
</mat-dialog-actions>


<h2 mat-dialog-title *ngIf="this.data.scenario == 'deletetask'">Delete {{this.data.fieldNameTask}} </h2>
<mat-dialog-content class="mat-typography" *ngIf="this.data.scenario == 'deletetask'">
    <h3>Do you want to delete the {{this.data.status}} {{this.data.fieldNameTask}} {{this.data.title}}&nbsp;?</h3>
</mat-dialog-content>
<mat-dialog-actions align="end" *ngIf="this.data.scenario == 'deletetask'">
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button color="warn" mat-button
    [mat-dialog-close]="this.data"
    >Delete</button>
</mat-dialog-actions>
