#titleDesign {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.chipStyling {
    color: #2a6af6;
    background-color: #f1f2f4;
    height: 24px;
    top: calc(50% - 24px / 2);
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
}

.card-body {
    padding: 10px;
}

.example-list {
    min-width: 150px;
}

.centre {
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 25px;
  }

.example-viewport {
    height: calc(100vh - 50px - 150px) !important; //100vh- main toolbar height - component toolbar height - adjustment
    width: 100%;

}