<h2 mat-dialog-title>Update {{ fieldNameSale }} {{statusFieldName}}</h2>
<mat-dialog-content class="mat-typography">
  <p>Confirm updation of {{ fieldNameSale }} {{statusFieldName}} from {{commonService.getStatusName('sales', pipelineId ,currentStage)}} to {{ commonService.getStatusName('sales', pipelineId ,status) }}</p>
  <!-- reason for rejection field if stage is changing to lost-->
  <mat-form-field class="full-width" appearance="fill"
    *ngIf="this.rejectionReasonDisplay === true && this.status === this.saleStatus[this.saleStatus.length - 1]?.stageId">
    <mat-label>Reason for rejection</mat-label>
    <mat-select [(ngModel)]="rejectionReasonValue" id="rejectionReasonValue" name="rejectionReasonValue"
      placeholder="Required">
      <mat-option *ngFor="let s of rejectionReasonArr" value="{{ s }}" [disabled]="!rejectionReasonArrPresent">{{
        s
        }}</mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-content class="mat-typography" *ngIf="showProd && orderWonCheck && !isMobilesize">
  <h2>Confirm {{
    fieldNameItems == "Products and Service"
    ? "Product"
    : fieldNameItems
    }}s details</h2>

  <div class="row" *ngFor="let obj of prodArray; let i = index">
    <span style="width: 18%; padding-top: 15px">{{ obj.prodName }}</span>

    <mat-form-field appearance="outline" style="width: 24%; margin-right: 1%">
      <mat-label>Quantity</mat-label>
      <input matInput [(ngModel)]="obj.quantity" (ngModelChange)="updateEstValue()" name="quantity_{{ i }}" required
        type="number" />
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 24%; margin-right: 1%">
      <mat-label>Unit Price</mat-label>
      <input matInput [(ngModel)]="obj.unitPrice" (ngModelChange)="updateEstValue()" name="unitPrice_{{ i }}" required
        type="number" />
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 24%; margin-right: 1%">
      <mat-label>Discount</mat-label>
      <input matInput [(ngModel)]="obj.discount" (ngModelChange)="updateEstValue()" name="discount_{{ i }}" required
        type="number" />
    </mat-form-field>

    <button mat-icon-button (click)="removeForm(i, obj)" title="Remove Item">
      <mat-icon style="color: #f00f26">delete</mat-icon>
    </button>
  </div>

  <button *ngIf="!showFormOpt" mat-raised-button color="primary" (click)="showForm()">
    Add {{
    fieldNameItems == "Products and Service"
    ? "Product"
    : fieldNameItems
    }}s
  </button>

  <form #productForm="ngForm" *ngIf="showFormOpt">
    <br />
    <mat-form-field style="width: 89%; margin-right: 1%" appearance="outline">
      <mat-label>Select a
        {{
        fieldNameItems == "Products and Service"
        ? "Product"
        : fieldNameItems
        }}</mat-label>
      <input matInput [formControl]="myControlProd" [matAutocomplete]="autoProduct" [(ngModel)]="this.selectedProduct"
        name="selectedProduct" (ngModelChange)="productSelected()" />
      <button color="primary" *ngIf="selectedProduct" matSuffix mat-icon-button aria-label="Clear"
        (click)="clearSelection()">
        <mat-icon>close</mat-icon>
      </button>
      <mat-autocomplete #autoProduct="matAutocomplete" [displayWith]="displayFnProduct">
        <mat-option *ngFor="let product of filteredOptionsProd | async" [value]="product">
          {{ product.prodName }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <button mat-raised-button *ngIf="addProdOption" (click)="addProduct()" color="primary">
      Add
    </button>
  </form>
</mat-dialog-content>
<mat-dialog-content class="mat-typography" *ngIf="showProd && orderWonCheck && isMobilesize">
  <h3 style="margin-bottom: 0;">Confirm {{
    fieldNameItems == "Products and Service"
    ? "Product"
    : fieldNameItems
    }}s details</h3>

  <mat-list role="list" class="zeropad">
    <mat-list-item role="listitem" *ngFor="let item of productArray">
      {{ item.prodName }}: {{ item.quantity }} * {{ item.currency }}.
      {{
      getDiscountedRate(
      item.unitPrice,
      item.discount
      )
      }}
    </mat-list-item>
  </mat-list>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()" cdkFocusInitial>Cancel</button>
  <button mat-button color="primary"
    [disabled]="disableReAssign || !networkCheck.onNetworkCheck() || (!rejectionReasonValue && rejectionReasonMandatory && this.status === this.saleStatus[this.saleStatus.length - 1]?.stageId)"
    (click)="onSubmit()">Update</button>
</mat-dialog-actions>
