
.main{
    background:white;
padding:70px;
}


.pics{
   
    max-width:100%;

    height:auto;  
}
.pic1{
  
  
    max-width:100%;

    height:auto;
  
}
.pic2{

 max-width:100%;

 height:auto; 
}

.blog-para{
    line-height: 150%;
    font-size: 18px;
    font-family:  Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}
p{
    text-align: justify;
}