.alignmiddle{
    // padding-left: 50%;
    // padding-right: 50%;
    width: 80%;
  margin: 0 auto;
    text-align: center;
}
.spinner {
	width: 100px;
	height: 100px;


	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;

	margin: auto;
}
.example-form {

  width: 100%;
}

.example-form {

  width: 100%;
}
