<div class="container-fluid" style="background-color:ghostwhite">
  <div class="container-fluid center" >
      <!--
  <h4>
    Welcome <span style="text-transform: capitalize">{{ dispalyName }}</span
    >! Loading your details ...
  </h4>
  -->
  <h4 class="mat-caption  text-center" > Loading your details..
  </h4>


  <div class="d-flex flex-row justify-content-between">
    <div class="p-2"></div>
    <div class="p-2">    <mat-spinner color="primary" [diameter]=24   style="margin:0 auto;" ></mat-spinner></div>
    <div class="p-2"></div>
  </div>
  </div>

</div>
