.example-spacer {
  flex: 1 1 auto;
}

.container {
  display: block;
}

.no-v-scroll {
  height: 100%;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  padding: 0 !important;
  overflow-x: hidden;
}

.wrapper {
  display: flex;
  overflow-x: auto;
  height: 100%;
}

.wrapper .item {
  min-width: 220px;
  padding: 10px;
  margin: 10px;
  height: 100%;
}

#titleDesign {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.example-viewport {
  height: calc(100vh - 50px - 150px) !important; //100vh- main toolbar height - component toolbar height - adjustment
  width: auto;
  overflow-y: visible;

}

.example-box {
  padding: 10px;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  background: white;
  font-size: 14px;
  margin: 10px;
  border-radius: 4px;

}

.chipStyling {
  color: #2a6af6;
  background-color: #f1f2f4;
  height: 24px;
  top: calc(50% - 24px / 2);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
}

.card-body {
  padding: 10px;
}

.center1 {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}