<div class="no-v-scroll bg-soft-secondary">
    <!-- tool bar -->
    <mat-toolbar *ngIf="!disableViewService && commonService.userPlan.serviceAccess" class="border-bottom"
        style="flex: 0 0 64px; z-index: 10" [ngStyle]="{ 'background-color': 'white' }">
        <mat-icon class="text-primary" mat-list-icon>support_agent</mat-icon>&nbsp;
        <span class="text-primary-light">{{ fieldNameService }}s</span>&nbsp;
        &nbsp;
        <!-- view selection -->
        <button mat-button class="border" style="border-radius: 20px; margin: 4px"
            (click)="onViewFilter($event)">{{tableService.viewSelected}}
            &nbsp;
            <mat-icon>expand_more</mat-icon></button>
        <button mat-icon-button title="Edit view" (click)="editView('Edit')" *ngIf="serviceGridService.isOldModeVisible 
                        && !serviceGridService.serviceViewSelected?.createdBy">
            <mat-icon class="material-icons-outlined" color="accent"> edit </mat-icon>
        </button>
        <button mat-icon-button title="Edit view" (click)="editView('Edit')" *ngIf="serviceGridService.isOldModeVisible 
                        && serviceGridService.serviceViewSelected?.createdBy
                        && serviceGridService.serviceViewSelected?.createdBy == userId">
            <mat-icon class="material-icons-outlined" color="accent"> edit </mat-icon>
        </button>

        <button mat-icon-button title="Delete view" (click)="deletePublicView()" *ngIf="serviceGridService.isOldModeVisible && serviceGridService.serviceViewSelected?.createdBy 
                            && serviceGridService.serviceViewSelected?.createdBy == userId">
            <mat-icon class="material-icons-outlined" color="warn"> delete </mat-icon>
        </button>
        <button mat-icon-button title="Delete view" (click)="deleteMyView()" *ngIf="serviceGridService.isOldModeVisible && !serviceGridService.serviceViewSelected?.createdBy
                           ">
            <mat-icon class="material-icons-outlined" color="warn"> delete </mat-icon>
        </button>
        &nbsp;
        <!-- pipeline selection -->
        <mat-form-field appearance="outline" *ngIf="servicePipelines?.length > 1" style="width: max-content;">
            <mat-label>Selected {{serviceSettings.selectedServPipeline.displayName}}</mat-label>
            <mat-select placeholder="Select your option" [(ngModel)]="tableService.pipelineServiceSelection"
                name="action" (selectionChange)="viewPipelineChanged()">
                <mat-option *ngFor="let option of servicePipelines" [value]="option.pipelineId">
                    {{ option.pipelineName }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <span class="example-spacer"></span>

        <div>
            <!-- Reassign starts here -->
            <button mat-button color="primary" [matMenuTriggerFor]="reassign"
                [disabled]="disableReAssign || disableEditService" *ngIf="selection.selected.length > 0">
                Assign to
            </button>&nbsp;
            <mat-menu #reassign="matMenu">

                <button mat-menu-item *ngFor="let s of allSubUsers" (click)="
          onSubUserAssigned(
            selection.selected,
            s.userId,
            s.firstname,
            s.lastname,
            s.branchId
          )
        ">
                    {{ s.firstname }} {{ s.lastname }}
                </button>
            </mat-menu>
        </div>
        <!-- card field display settings -->
        <button *ngIf="serviceGridService.serviceView =='grid'" mat-icon-button [disabled]="!onCheckNetwork()"
            (click)="customizeCardContent()" title="Customize view">
            <mat-icon class="material-icons-outlined" color="accent">settings</mat-icon>
        </button>
        <!-- change to grid view -->
        <button mat-icon-button (click)="onToggle()"
            *ngIf="serviceGridService.serviceView =='table' && commonService.userPlan.serviceTableViewEnabled"
            title="Grid view">
            <mat-icon class="material-icons-outlined" color="accent">table_chart</mat-icon>
        </button>
        <!-- change to table view -->
        <button mat-icon-button (click)="onToggleTab()"
            *ngIf="serviceGridService.serviceView =='grid' && commonService.userPlan.serviceGridViewEnabled"
            title="Table view">
            <mat-icon class="material-icons-outlined" color="accent">table_rows</mat-icon>
            &nbsp;
        </button>

    </mat-toolbar>
    <mat-progress-bar *ngIf="!progressBarDisplay" mode="indeterminate">
    </mat-progress-bar>
    <!-- If Access is restricted -->
    <div *ngIf="(disableViewService || !commonService.userPlan.serviceAccess)" class="container"
        style="text-align: center">
        <br />
        <h3>No Access</h3>
    </div>
    <!-- Toolbar ends here -->
    <div style="overflow-y: scroll"
        *ngIf="progressBarDisplay && !disableViewService && !serviceGridService.isOldModeVisible">
        <!-- Grid view -->
        <div [style.display]="serviceGridService.serviceView =='grid' && 
         commonService.userPlan.serviceAccess &&
        commonService.userPlan.serviceGridViewEnabled  ? 'block' : 'none'" style="height: 100%">

            <div class="wrapper d-flex flex-row bd-highlight justify-content-start" style="height: 100%">
                <div *ngFor="let stage of tableService.statusArray; let i = index">
                </div>
                <div class="p-2 bd-highlight" *ngFor="let stage of tableService.statusArray; let i = index">
                    <div class="example-list bg-white" [ngClass]="{ collapsed: tableService.stageCollapseArray[i] }">
                        <div cdkDropList #stage="cdkDropList" id="{{ stage?.stageId }}" style="height: 100%"
                            [cdkDropListData]="getFilteredData(i)"
                            [cdkDropListConnectedTo]="getFilteredStatus(stage?.stageId)" class="example-list bg-white"
                            [ngClass]="{ collapsed: tableService.stageCollapseArray[i] }" cdkDropListSortingDisabled
                            (cdkDropListDropped)="drop($event,i)">
                            <app-support-grid-view [reload]="reloadChildComponent" [userId]="userId"
                                [superUserId]="superUserId" [stageId]="stage?.stageId"
                                [disableEditService]="disableEditService" [fieldNameContact]="fieldNameContact"
                                [fieldNameOrganization]="fieldNameOrganization" [fieldNameFollowup]="fieldNameFollowup"
                                [fieldNameTask]="fieldNameTask" [fieldNameService]="fieldNameService" [index]="i"
                                [displayFields]="displayFields" [servicePipelines]="servicePipelines"
                                [actServiceAgeing]="actServiceAgeing" [disableFoll]="disableFoll"
                                [serviceSettings]="serviceSettings" (addTaskEvent)="addTask($event)"
                                (onCreateFollowUpsEvent)="onCreateFollowUps($event)"
                                (editServiceEvent)="editService($event)"></app-support-grid-view>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Table view -->
        <div [style.display]="serviceGridService.serviceView =='table' &&
                commonService.userPlan.serviceAccess  &&
                commonService.userPlan.serviceTableViewEnabled  ? 'block' : 'none'" class="container-fluid"
            style="margin-bottom: 10px">
            <br />
            <app-support-table-view [disableDownloadService]="disableDownloadService" [disableFoll]="disableFoll"
                [disableEditService]="disableEditService" [superUserId]="superUserId" [userId]="userId"
                [actServiceAgeing]="actServiceAgeing" [servicePipelines]="servicePipelines" [(selection)]="selection"
                [userNamesArray]="userNamesArray" [userIdsArray]="userIdsArray"
                [customFieldsService]="customFieldsService" [columnsDispaly]="columnsDispaly"
                [tableDefaultData]="tableDefaultData" [fieldNameServiceNotes]="fieldNameServiceNotes"
                [fieldNameFollowup]="fieldNameFollowup" [fieldNameContact]="fieldNameContact"
                [fieldNameTask]="fieldNameTask" [fieldNameService]="fieldNameService" [accountType]="accountType"
                [serviceSettings]="serviceSettings" [contactSettings]="contactSettings"
                (editServiceEvent)="editService($event)" (addTaskEvent)="addTask($event)"
                (onCreateFollowUpsEvent)="onCreateFollowUps($event)"
                (openDialogEvent)="openDialog($event)"></app-support-table-view>
        </div>
    </div>
    <div style="overflow-y: scroll" *ngIf="!disableViewService && progressBarDisplay && serviceGridService.isOldModeVisible &&
        commonService.userPlan.serviceAccess">

        <app-support-grid [(selection)]="selection" [(columnsDispaly)]="columnsDispaly" [userId]="userId"
            [serviceDataAccessRule]="serviceDataAccessRule" [superUserId]="superUserId"
            [disableEditService]="disableEditService" [actServiceAgeing]="actServiceAgeing"
            [serviceSettings]="serviceSettings" [contactSettings]="contactSettings"
            [customFieldsService]="customFieldsService" [tableDefaultData]="tableDefaultData"
            [accountType]="accountType" [disableFoll]="disableFoll" [fieldNameFollowup]="fieldNameFollowup"
            [fieldNameContact]="fieldNameContact" [fieldNameTask]="fieldNameTask" [fieldNameService]="fieldNameService"
            [fieldNameOrganization]="fieldNameOrganization" [fieldNameServiceNotes]="fieldNameServiceNotes"
            [cardFields]="cardFields" [displayFields]="displayFields" [servicePipelines]="servicePipelines"
            [userName]="userName" [reload]="reloadOldTableChildComponent" [myViews]="myViews"
            [publicViews]="publicViews" [branches]="branches" [disableDownloadService]="disableDownloadService"
            (editServiceEvent)="editService($event)" (onTableSettingsEvent)="onTableSettings($event)"
            (addTaskEvent)="addTask($event)" (onCreateFollowUpsEvent)="onCreateFollowUps($event)"></app-support-grid>
    </div>
</div>