// textarea{
//     width: 500px;
// }
mat-form-field {
    width: 100%;
  }
  mat-input-container {
    background: whitesmoke;
}
.mat-list .mat-list-item {
  height: 30px; /* default is 72px */
}

.dialogue{
  max-height: 350px;

}