.center {
    margin: auto;
    width: 50%;
    // border: 0.5px solid black;
    padding: 10px;
  }
  .left{
    float:left;
  }
  .diamen{
    width: auto !important;
    height: auto !important;
  }
  .rig{
    float: right;
  }
  .sizes{
    height: 100px !important;
    width: 150px !important;
  }
  .full-width{
    width: 100%;
  }