<form [formGroup]="form">
    <h4 class="card-title">
        <span>{{ form.get('docTitle').value }} Details</span>
    </h4>
    <div class="input-group mb-1">
        <mat-form-field class="example-full-width">
            <mat-label>{{ form.get('docTitle').value }} No:</mat-label>
            <input matInput placeholder="{{ form.get('docTitle').value }} No:" name="prefixAndDocNumber"
                formControlName="prefixAndDocNumber" />
        </mat-form-field>
    </div>
    <div class="input-group mb-1">
        <mat-form-field class="example-full-width">
            <mat-label>{{ form.get('docTitle').value }} Date:</mat-label>
            <input matInput [matDatepicker]="picker1" name="docDate" formControlName="docDate" />
            <mat-hint>DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker1">
            </mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
    </div>
    <mat-error class="form-text text-muted danger" *ngIf=" (form.get('docDate').invalid && 
    (form.get('docDate').dirty || 
    form.get('docDate').touched))
    ">
        Please enter a date!</mat-error>
    <div class="input-group mb-1">
        <mat-form-field class="example-full-width">
            <mat-label>Valid Till:</mat-label>
            <input matInput [matDatepicker]="picker2" name="docValidity" formControlName="docValidity" />
            <mat-hint>DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker2">
            </mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
    </div>
</form>