.example-card {
    max-width: 800px;
  }
  
  .example-header-image {
    //background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .mat-icon {
    vertical-align: middle;
 }
 .example-spacer {
  flex: 1 1 auto;
}