<mat-card-header class="card-container-left">

    <div class="frame" style="background-color: white" *ngIf="isSmsEnabled">
      <mat-card-content>
        <h3>Send SMS Notification to {{fieldNameContact}} on Payment Due</h3>
        <div class="box">
          <div class="col-6 custom">
            <section class="example-section">
              <mat-checkbox class="example-margin" [(ngModel)]="smsActivated"  >Activate SMS Notification</mat-checkbox>
            </section>
          </div>
          <div class="col-6 custom" style="height: auto; word-wrap: break-word">

            <mat-form-field class="full-width">
              <mat-label>Choose SMS Template</mat-label>
              <mat-select #smsTemp [(ngModel)]="selectedSMSTemplateName"
                 id="smstemp" name="smsTemp" placeholder="Required" required>
                <mat-option *ngFor="let template of smsTemplates" (click)="selectSmsTemplate(template.id)" value="{{template.templateName}}">{{template.templateName}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <button style="float: right" mat-button color="accent" (click)="smsTemplate()">
          Save
        </button>
      </mat-card-content>
      <br>
    </div>

    <div class="frame" style="background-color: white" >
      <mat-card-content>
        <h3>Send Email Notification to {{fieldNameContact}} on Payment due</h3>
        <div class="box">
          <div class="col-6 custom">
            <section class="example-section">
              <mat-checkbox class="example-margin" [(ngModel)]="emailActivated">Activate email Notification</mat-checkbox>
            </section>
          </div>
          <div class="col-6 custom" style="height: auto; word-wrap: break-word">
            <mat-form-field class="full-width">
              <mat-label>Choose Email Template</mat-label>
              <mat-select #emailTemp  [(ngModel)]="selectedEmailTemplateName"
                 id="temp" name="emailTemp" placeholder="Required" required>
                <mat-option *ngFor="let template of emailTemplates" (click)="selectEmailTemplate(template.id)" value="{{template.templateName}}">{{template.templateName}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <button style="float: right" mat-button color="accent" (click)="emailTemplate()">
          Save
        </button>
      </mat-card-content>
    </div>
  </mat-card-header>
