.no-v-scroll {
    height: 100%;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    padding: 0 !important;
    overflow-x: hidden;
  }
  .example-spacer {
    flex: 1 1 auto;
  }
  table {
    width: 100%;
  }
  .isDisabled {
    color: currentColor;
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.5;
    text-decoration: none;
  }
  ::ng-deep.zeropad .mat-list-item-content {
    padding: 0 !important;
  }
  .float {
    position: fixed;
    bottom: 4rem;
    right: 2rem;
  }
  .invisible{
    display: block;
    visibility: hidden;
    height: 0;
    width: 0;
  }
  // :host ::ng-deep .mat-placeholder-required {
  //   color: red;
  // }
  .full-width{
    width: 100%;
  }
  .date-wdith{
    width: 49% !important;
    margin-right: 2%;
  }
  .Time-wdith{
    width: 49% !important;
  }
