
<div class="frame" style="background-color: white">
    <mat-card-content>
        <h3>Approval required for Downloading/ Sharing {{fieldNameEstimate}}/ {{fieldNameQuotation}}/ {{fieldNameInvoice}} & Sending payment link</h3>
        <div class="row">
            <div class="col-12 custom" *ngIf="commonService.userPlan.estimatesAccess">
                <section class="example-section">
                    <mat-checkbox  class="example-margin" id="est"
                        [(ngModel)]="estimateApproval">{{fieldNameEstimate}}
                    </mat-checkbox>
                </section>
            </div>
            <br *ngIf="commonService.userPlan.quotationsAccess"><br *ngIf="commonService.userPlan.quotationsAccess">
            <div class="col-12 custom" *ngIf="commonService.userPlan.quotationsAccess">
                <section class="example-section">
                    <mat-checkbox  class="example-margin" id="quo"
                        [(ngModel)]="quotationApproval">{{fieldNameQuotation}}
                    </mat-checkbox>
                </section>
            </div>
            <br *ngIf="commonService.userPlan.invoicesAccess"><br *ngIf="commonService.userPlan.invoicesAccess">
            <div class="col-12 custom" *ngIf="commonService.userPlan.invoicesAccess">
                <section class="example-section">
                    <mat-checkbox  class="example-margin" id="inv"
                        [(ngModel)]="invoiceApproval">{{fieldNameInvoice}}
                    </mat-checkbox>
                </section>
            </div>
        </div>
        <button style="float: right" mat-button color="accent" (click)="updateApproval()">
            Save
        </button>
    </mat-card-content>
</div>
