<div class="no-v-scroll">
    <!-- New material Toolbar starts here -->
    <mat-toolbar [ngStyle]="{'background-color':'white'}"
        style="position: sticky; top: 0;">
        <button mat-icon-button title="back" (click)="onBack()">
            <mat-icon color="accent"> arrow_back </mat-icon>
        </button>
        <span>Report by Channel Partner</span> &nbsp;&nbsp;&nbsp;&nbsp;

        <span class="example-spacer"></span>
        <mat-form-field style="width: 35%; font-size: 15px;height: 90%;" appearance="fill">
            <input matInput [(ngModel)]="searchTerm" #query (keyup)="filter(query.value)" style="width: 100%"
                placeholder="Search by {{this.fieldNameContact}}/ Company Name/ {{this.fieldNameSale}} title" />
        </mat-form-field>&nbsp;
        <mat-form-field class="invisible">

            <mat-date-range-input [rangePicker]="picker">
                <input matStartDate placeholder="Start date" [(ngModel)]="selectedDate1"
                    [ngModelOptions]="{ standalone: true }" />
                <input matEndDate placeholder="End date" [(ngModel)]="selectedDate2"
                    [ngModelOptions]="{ standalone: true }" (ngModelChange)="onDate2($event)" />
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>

        <button mat-stroked-button color="accent" [matMenuTriggerFor]="view">
            View
          </button>
          <mat-menu #view="matMenu">
            <button mat-menu-item (click)="picker.open()">
                <mat-icon>date_range</mat-icon>
                By Created Date
            </button>
            <button mat-menu-item (click)="resetDate()" title="Clear filter">
                <mat-icon color="warn">clear</mat-icon>
                Clear filter
            </button>
          </mat-menu>
        <button mat-button color="accent" (click)="onDownloadAsCsv()" title="Download Table">
            <mat-icon color="accent">download</mat-icon>
        </button>
    </mat-toolbar>
    <!-- New material Toolbar ends here -->
    <mat-progress-bar [style.visibility]="(progressBarStatus) ? 'hidden' : 'visible' " mode="indeterminate">
    </mat-progress-bar>
    <div style="background-color: ghostwhite; overflow-y: auto; height: 100%;">
        <div class="container-fluid" style="padding-bottom: 100px ;" [style.visibility]="(progressBarStatus) ? 'visible' : 'hidden' ">
            <br />
            <h2 *ngIf="datefilter">Showing Channel Partner Sales with created date between {{ selectedDate1 | date }} and
                {{ selectedDate2 | date }}</h2>
            <h2 *ngIf="!datefilter">
                Showing Channel Partner Sales {{viewSelected}}
            </h2>
            <!-- mat table starts here -->
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="documentsArray" matSort>
                    <!-- customerName Column -->
                    <ng-container matColumnDef="saleTitle">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{this.fieldNameSale}} Title</th>
                        <td mat-cell *matCellDef="let row">{{ row.saleTitle }}</td>
                    </ng-container>

                    <ng-container matColumnDef="companyName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Company Name</th>
                        <td mat-cell *matCellDef="let row">{{ row.companyName }}</td>
                    </ng-container>
                    <ng-container matColumnDef="firstName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{this.fieldNameContact}} Name</th>
                        <td mat-cell *matCellDef="let row">
                            {{ row.firstName}} {{ row.secondName}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="additionalFieldDate">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header >Channel Partner</th>
                        <td mat-cell *matCellDef="let row">{{ row.additionalFieldDate }}</td>
                    </ng-container>
                    <ng-container matColumnDef="startDate">
                        <th mat-header-cell *matHeaderCellDef  mat-sort-header >Start Date</th>
                        <td mat-cell *matCellDef="let row">{{ row.startDate?.toDate()|date}}</td>
                    </ng-container>
                    <ng-container matColumnDef="expCompletionDate">
                        <th mat-header-cell *matHeaderCellDef  mat-sort-header >End Date</th>
                        <td mat-cell *matCellDef="let row">{{ row.expCompletionDate?.toDate()|date}}</td>
                    </ng-container>
                    <ng-container matColumnDef="assignedTo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Assigned To</th>
                        <td mat-cell *matCellDef="let row">
                            {{ row.assignedToName}}
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">No Sales found</td>
                    </tr>
                </table>
                <mat-paginator [pageSizeOptions]="[10, 20, 30]"></mat-paginator>
            </div>
            <!-- mat table ends here -->
        </div>
    </div>
</div>
