table {
  width: 100%;
}

.example-spacer {
  flex: 1 1 auto;
}

.container {
  display: block;
}
.no-v-scroll {
  height: 100%;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  padding: 0 !important;
  overflow-x: hidden;
}

.isDisabled {
  color: currentColor;
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
  text-decoration: none;
}