.example-spacer {
  flex: 1 1 auto;
}
* {
  box-sizing: border-box;
}
/* Create two equal columns that floats next to each other */
.column {
  float: left;
  padding-left: 10px;
}
.row {
  display: table;
  width: 100%;
}
.wrapper {
  display: flex;
}
.wrapper .col-item {
  padding: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
}
#truncate-cell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
