<div class="row rounded-lg overflow-hidden shadow" >
    <!-- Users box-->
      
    <!-- Chat Box-->
    <div class="col-7 px-0" >
      <div class="px-4 py-5 chat-box bg-white">
        <!-- Sender Message-->
        <div  *ngFor="let message of List">
            

        <div *ngIf="message.From==emailId" class="media w-50 mb-3">
            <!-- <img src="https://res.cloudinary.com/mhmd/image/upload/v1564960395/avatar_usae7z.svg" alt="user" width="50" class="rounded-circle"> -->
           
          <div class="media-body ml-3">
            <div class="bg-light rounded py-2 px-3 mb-2">
              <p class="text-small mb-0 text-muted">{{message.message}}</p>
            </div>
            <p class="small text-muted">{{message.timestamp|date}}</p>
          </div>
        </div>
        <div *ngIf="message.From!=emailId" class="media w-50 ml-auto mb-3">
            <div class="row">
                <div class="media-body">
                  <div class="bg-primary rounded py-2 px-3 mb-2">
                    <p class="text-small mb-0 text-white">{{message.message}}</p>
                  </div>
                  <p class="small text-muted">{{message.timestamp|date}}</p>
                </div>
            </div>

            
          </div>
        </div>

        <!-- Reciever Message-->
        

        
      </div>

      <!-- Typing area -->
      

    </div>
  </div>