<div class="demo10">
    <div class="container">
        <h4 class="py-4 text-center">Pricing Table</h4>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="pricingTable10">
                    <div class="pricingTable-header">
                        <h3 class="heading">Standard</h3>
                        <span class="price-value">
                            <span class="currency">$</span> 10
                            <span class="month">/mo</span>
                        </span>
                    </div>
                    <div class="pricing-content">
                        <ul>
                            <li>50GB Disk Space</li>
                            <li>50 Email Accounts</li>
                            <li>50GB Monthly Bandwidth</li>
                            <li>10 Subdomains</li>
                            <li>15 Domains</li>
                        </ul>
                        <a href="#" class="read">sign up</a>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 col-sm-6">
                <div class="pricingTable10">
                    <div class="pricingTable-header">
                        <h3 class="heading">Single User</h3>
                        <span class="price-value">
                            <span class="currency">₹</span> 500
                            <span class="month">/mo</span>
                        </span>
                        <br>
                        <br>
                        <span class="price-value">
                            <span class="currency">₹</span> 5000
                            <span class="month">/yr</span>
                        </span>
                    </div>
                    <div class="pricing-content">
                        <ul>
                            <li>70GB Disk Space</li>
                            <li>70 Email Accounts</li>
                            <li>70GB Monthly Bandwidth</li>
                            <li>20 Subdomains</li>
                            <li>25 Domains</li>
                        </ul>
                        <!-- <a href="#" class="read">Subscribe</a> -->
                        <a routerLink="../razorpay" class="read">Sign Up</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="pricingTable10">
                    <div class="pricingTable-header">
                        <h3 class="heading">Extra</h3>
                        <span class="price-value">
                            <span class="currency">$</span> 40
                            <span class="month">/mo</span>
                        </span>
                    </div>
                    <div class="pricing-content">
                        <ul>
                            <li>80GB Disk Space</li>
                            <li>80 Email Accounts</li>
                            <li>80GB Monthly Bandwidth</li>
                            <li>25 Subdomains</li>
                            <li>30 Domains</li>
                        </ul>
                        <a href="#" class="read">Subscribe</a>
                        <a href="#" class="read">Pay as you go</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
