#div{
    border-right: 1px solid lightgrey; height: 100%; overflow-x:hidden; overflow-y: scroll; word-wrap: break-word; min-height: 750px
}
#span1{
    font-weight: bold" class="truncate-cell
}
.mat-h3{
    font-weight: bold
}