.example-spacer {
  flex: 1 1 auto;
}
table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}
p {
  font-size: 15px;
}
mat-card:hover {
  cursor: pointer;
}

#mobileview {
  display: none;
}
.container {
  display: block;
}
@media only screen and (min-width: 100px) and (max-width: 320px) {
  #mobileview {
    display: block;
  }
  .container {
    display: none;
  }
  input {
    width: 90%;
  }
  .col {
    width: 100%;
  }
  .container-xl {
    width: 100%;
  }
}
@media only screen and (min-width: 321px) and (max-width: 375px) {
  .container-xl {
    width: 100%;
  }
  #mobileview {
    display: block;
  }
  .container {
    display: none;
  }
  input {
    width: 90%;
  }
  .col {
    width: 100%;
  }
}
@media only screen and (min-width: 376px) and (max-width: 425px) {
  .container-xl {
    width: 100%;
  }
  #mobileview {
    display: block;
  }
  .container {
    display: none;
  }
  input {
    width: 90%;
  }
  .col {
    width: 100%;
  }
}
section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 18px;
  margin-left: 8px;
  min-width: 80px;
}

.example-button-row {
  display: table-cell;
  width: 80px;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 40px;
}

.example-full-width {
  width: 80%;
}
.no-v-scroll {
  height: 100%;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  padding: 0 !important;
  overflow-x: hidden;
}
::ng-deep.mobile .mat-toolbar {
  z-index: 998;
  position: fixed;
}
