<section class="invoice-template">
    <div>
        <div class="border" style="background-color: white;">
            <div class="container-fluid " id="printsection" #printsection>
                <div id="invoice-template" class="card-body pb-0">
                    <div class="row">
                        <div class="row" style="padding-bottom: 10px;">
                            <div class="col-2" *ngIf="previewService.logo">
                                <app-logo-preview></app-logo-preview>
                            </div>
                            <div class="col-6 ">
                                <app-bill-from-name></app-bill-from-name>
                                <app-bill-from-preview></app-bill-from-preview>
                            </div>
                            <div class="col-2" *ngIf="!previewService.logo"></div>
                            <div class="col-4 align-items-top text-left">
                                <app-doc-titile></app-doc-titile>
                                <app-doc-detail-preview-estimate *ngIf="previewService.docType =='Estimate'">
                                </app-doc-detail-preview-estimate>

                                <app-doc-details-preview-quotation *ngIf="previewService.docType =='Quotation'">
                                </app-doc-details-preview-quotation>

                                <app-doc-details-preview-invoice *ngIf="previewService.docType =='Invoice'">
                                </app-doc-details-preview-invoice>

                                <app-additional-field-preview></app-additional-field-preview>
                            </div>
                        </div>
                       
                        <div class="row">
                            <hr class="hr-highlight" [style.border-color]="previewService.docColor" />
                        </div>
                        <br>
                        <div id="invoice-customer-details" class="row">
                            <!--Bill to address-->
                            <div class="col-4 text-left">
                                <app-bill-to-preview></app-bill-to-preview>
                            </div>
                            <!--Delivery address-->
                            <div class="col-4  text-left">
                                <app-delivered-to-preview></app-delivered-to-preview>
                            </div>
                            <div class="col-4  text-left">
                                <app-statename-placeofsupply *ngIf="previewService.docType !='Estimate'">
                                </app-statename-placeofsupply>
                            </div>
                        </div>
                        <div id="invoice-items-details">
                            <br />
                            <app-table-preview></app-table-preview>
                        </div>
                        <div class="row">
                            <hr class="hr-highlight" [style.border-color]="previewService.docColor" />
                        </div>
                        <div class="row unbreak">
                            <!--Bank Account details-->
                            <div class="col-6 text-left">
                                <app-bank-details></app-bank-details>
                            </div>
                            <div class="col-6">
                                <app-item-summary-preview></app-item-summary-preview>
                            </div>
                        </div>
                        <div class="row">
                            <hr class="hr-highlight" [style.border-color]="previewService.docColor"
                                *ngIf=" previewService.docData.notes || previewService.signature" />
                        </div>
                        <div class="row unbreak">
                            <div class="col-8 align-items-center">
                                <div class="terms-conditions mb-2">
                                    <app-additional-notes *ngIf="previewService.docData.notes"></app-additional-notes>
                                </div>
                            </div>
                            <div class="col-3">
                                <app-user-sign-and-details-preview></app-user-sign-and-details-preview>
                            </div>
                        </div>
                        <div class="row">
                            <hr class="hr-highlight" [style.border-color]="previewService.docColor" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>