.example-spacer {
    flex: 1 1 auto;
  }
  .full-width-field {
    width: 100% !important;
 }
 .example-header-image {
  background-size: cover;
  width: 85px;
  height: 65px;
}
.example-header-imageMob{
  background-size: cover;
  width: 100px;
  height: 65px;
  align-items: center;
}
h1{
  color:#283593;}