<!-- <button mat-button color="primary" (click)="delete()">Delete</button>

<button mat-button color="primary" (click)="script1()">Run script 1</button> -->
<div class ="container-fluid">
  <button mat-button color="primary" (click)="script2()">Run script</button>
  <button mat-button color="primary" (click)="getAllMaincustomers()">Get All main customers</button>
  <button mat-button color="primary" (click)="getAllUsers()">Get All Users</button>
  <button mat-button color="primary" (click)="removeContacts()">Remove contacts</button>
  <br>
  <mat-divider></mat-divider>
  <br>
  <div class ="container-fluid">
    <br>
    <h3> Script for transferring data from one super user account to another</h3>
    <button  mat-button color="primary" (click)="readCustomerfromDB()">Copy Customers</button>
    <p>No of customers read from account: {{noOfCustomer}}</p>
  </div>
</div>



