.rig{
    float: right;

}
.rigt{
    float: right;
    color: blueviolet;
}
.left1{
    float: left;
}
.marg{
    margin-left: 2%;
}
.pad{
    padding:20px;
}
.spc{
    margin-left:3%;
}
.padd{
    padding-bottom: 3px;
}