<div class="no-v-scroll">
  <!-- TOOLBAR -->
  <mat-toolbar class="border-bottom"
  *ngIf="commonService.userPlan.settingsAccess && commonService.userPlan.activitiesAccess && commonService.userPlan.tasksAccess"
    style="flex: 0 0 64px;"

    [ngStyle]="{ 'background-color': 'white' }"
  >
    <button mat-icon-button title="back" (click)="onBack()">
      <mat-icon color="accent"> arrow_back </mat-icon>
    </button>
    <span>{{ fieldNameFollowup }} Settings</span> &nbsp;&nbsp;&nbsp;&nbsp;
    <span class="example-spacer"></span>
  </mat-toolbar>
  <div
    class="container-fluid"
    style="padding: 0%; margin: 0%; overflow-y: auto;background-color: white"
  >
    <!-- PROGRESS BAR -->
    <mat-progress-bar
      [style.visibility]="progressBarStatus ? 'hidden' : 'visible'"
      mode="indeterminate"
    >
    </mat-progress-bar>
    <div
      *ngIf="(progressBarStatus && notEdit && accountType != 'SuperUser') ||
        !(commonService.userPlan.settingsAccess && commonService.userPlan.activitiesAccess && commonService.userPlan.tasksAccess)"
      class="container-xl"
      style="text-align: center"
    >
      Access denied!
    </div>
    <mat-tab-group *ngIf= "commonService.userPlan.settingsAccess && commonService.userPlan.activitiesAccess && commonService.userPlan.tasksAccess && !notEdit && progressBarStatus">
      <mat-tab label="{{ fieldNameFollowup }} field Settings">
        <ng-template mat-tab-label>
          &nbsp; TELEPHONY
        </ng-template>
        <br />
        <div *ngIf="progressBarStatus && !notEdit" style="min-height: 900px">
          <mat-card-header class="card-container-left">
            <form>
              <div class="frame" style="background-color: white">
                <mat-card-content>
                  <!-- <div class="row">
                    <div class="col-6">
                      <h2>{{ fieldNameFollowup }} Outcome</h2>
                      <mat-form-field class="example-full-width">
                        <mat-label
                          >Provide options seperated by commas</mat-label
                        >
                        <textarea
                          rows="1"
                          matInput
                          [disabled]="!isEditMode"
                          [(ngModel)]="followUpOutcome"
                          name="followUpOutcome"
                        >
                        </textarea>
                      </mat-form-field>
                       <section class="example-section">
                        <mat-checkbox
                          class="example-margin"
                          id="checkdisp"
                          name="checkdisp"
                          [disabled]="!isEditMode"
                          [(ngModel)]="followUpOutcomeDisplayCheck"
                          >Display {{ fieldNameFollowup.toLowerCase() }} outcome
                        </mat-checkbox>
                      </section>
                      <br />
                      <section
                        class="example-section"
                        *ngIf="followUpOutcomeDisplayCheck"
                      >
                        <mat-checkbox
                          class="example-margin"
                          id="checkreq"
                          name="checkreq"
                          [disabled]="!isEditMode"
                          [(ngModel)]="followUpOutcomeReqCheck"
                          >Mandatory to record
                          {{ fieldNameFollowup.toLowerCase() }} outcome
                        </mat-checkbox>
                      </section>
                    </div>
                    <div class="col-6">
                      <h2>{{ fieldNameFollowup }} Status</h2>
                      <mat-form-field class="example-full-width">
                        <mat-label
                          >Provide options seperated by commas</mat-label
                        >
                        <p>Missed is mandatory</p>
                        <textarea
                          rows="1"
                          matInput
                          [disabled]="!isEditMode"
                          [(ngModel)]="followUpStatus"
                          name="followUpStatus"
                        >
                        </textarea>
                      </mat-form-field>
                       <section class="example-section">
                        <mat-checkbox
                          class="example-margin"
                          id="checkdisplaystatus"
                          name="checkdisplaystatus"
                          [disabled]="!isEditMode"
                          [(ngModel)]="followUpStatusDisplayCheck"
                          >Display
                          {{ fieldNameFollowup.toLowerCase() }}
                          status
                        </mat-checkbox>
                      </section>
                      <br />
                      <section
                        class="example-section"
                        *ngIf="followUpStatusDisplayCheck"
                      >
                        <mat-checkbox
                          class="example-margin"
                          id="checkstatus"
                          name="checkstatus"
                          [disabled]="!isEditMode"
                          [(ngModel)]="followUpStatusReqCheck"
                          >Mandatory to record
                          {{ fieldNameFollowup.toLowerCase() }}
                          status
                        </mat-checkbox>
                      </section>
                    </div>
                  </div> -->
                  <!-- <br />
                  <br /> -->
                  <div class="row">
                    <div class="col-6">
                      <h2>Call Bridging</h2>
                      <section class="example-section">
                        <mat-checkbox
                          class="example-margin"
                          id="checkcallBridgen"
                          name="checkcallBridgen"
                          [disabled]="!isEditMode"
                          [(ngModel)]="enableOutboundCallsViaCallBridging"
                          >Enable outbound calls 
                        </mat-checkbox>
                        <br>
                        <!--Modification-->
                        <mat-radio-group name="callBridgingType" [disabled]="!isEditMode" *ngIf="enableOutboundCallsViaCallBridging && callBridgingServiceProvider != 'Bonvoice'"
                          [(ngModel)]="callBridgingType">
                          <mat-radio-button class="example-radio-button" [checked]="true" [value]="true">
                            Outbound calls via call bridging(Mobile To Mobile)
                          </mat-radio-button>
                          <br />
                          <mat-radio-button class="example-radio-button" [value]="false">
                            Outbound calls via call bridging(Soft/IP Phone To Mobile)
                          </mat-radio-button>
                        </mat-radio-group>
                      </section>
                        <!--Modification-->

                      <mat-form-field
                        appearance="fill"
                        *ngIf="enableOutboundCallsViaCallBridging"
                        class="example-full-width"
                      >
                        <mat-label>Select the service provider</mat-label>
                        <mat-select
                          name="callBridgingServiceProvider"
                          [(ngModel)]="callBridgingServiceProvider"
                          [disabled]="!isEditMode" required
                        >
                          <mat-option
                            *ngFor="let data of serviceProviderCallBridging"
                            [value]="data"
                          >
                            {{ data }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                      <mat-form-field
                        class="example-full-width"
                        *ngIf="enableOutboundCallsViaCallBridging  && callBridgingServiceProvider === 'Bonvoice'"
                      >
                        <mat-label>Token</mat-label>
                        <input
                          rows="1"
                          matInput
                          type="text"
                          [disabled]="!isEditMode"
                          [(ngModel)]="autoCallToken"
                          name="autoCallToken" required
                        />
                      </mat-form-field>
                      <!-- to configure did number for autocall -->
                      <mat-form-field
                        class="example-full-width"
                        *ngIf="enableOutboundCallsViaCallBridging && callBridgingServiceProvider === 'Bonvoice'"
                      >
                        <mat-label>DID Number</mat-label>
                        <input
                          rows="1"
                          matInput
                          type="text"
                          [disabled]="!isEditMode"
                          [(ngModel)]="DIDNumber"
                          name="DIDNumber" required
                        />
                      </mat-form-field>
                      <!-- to configure url for autocall -->
                      <mat-form-field
                        class="example-full-width"
                        *ngIf="enableOutboundCallsViaCallBridging && callBridgingServiceProvider === 'Bonvoice'"
                      >
                        <mat-label>URL</mat-label>
                        <input
                          rows="1"
                          matInput
                          type="text"
                          [disabled]="!isEditMode"
                          [(ngModel)]="autoCallURL"
                          name="autoCallURL" required
                        />
                      </mat-form-field>
                      <!-- to configure url for autocall channel ID -->
                      <mat-form-field
                        class="example-full-width"
                        *ngIf="enableOutboundCallsViaCallBridging && callBridgingServiceProvider === 'Bonvoice'"
                      >
                        <mat-label>channel ID</mat-label>
                        <input
                          rows="1"
                          matInput
                          type="text"
                          [disabled]="!isEditMode"
                          [(ngModel)]="channelID"
                          name="channelID" required
                        />
                      </mat-form-field>
                      <!--config for voxBay-->
                      <!--to configre UID-->
                      <mat-form-field
                        class="example-full-width"
                        *ngIf="enableOutboundCallsViaCallBridging && callBridgingServiceProvider === 'Voxbay'"
                      >
                        <mat-label>UID</mat-label>
                        <input
                          rows="1"
                          matInput
                          type="text"
                          [disabled]="!isEditMode"
                           required
                          [(ngModel)]="uId_voxBay"
                          name="uId_voxBay" required
                        />
                      </mat-form-field>
                      <!--to configre PIN-->
                      <mat-form-field
                        class="example-full-width"
                        *ngIf="enableOutboundCallsViaCallBridging && callBridgingServiceProvider === 'Voxbay'"
                      >
                        <mat-label>PIN</mat-label>
                        <input
                          rows="1"
                          matInput
                          type="text"
                          [disabled]="!isEditMode"
                          [(ngModel)]="pin_voxBay"
                          name="pin_voxBay" required
                        />
                      </mat-form-field>
                      <!--to configre DID-->
                      <mat-form-field
                        class="example-full-width"
                        *ngIf="enableOutboundCallsViaCallBridging && callBridgingServiceProvider === 'Voxbay'"
                      >
                        <mat-label>DID</mat-label>
                        <input
                          rows="1"
                          matInput
                          type="text"
                          [disabled]="!isEditMode"
                          [(ngModel)]="callerid_voxBay"
                          name="callerid_voxBay" required
                        />
                      </mat-form-field>
                      <!--to configre Extension  Number-->
                      <mat-form-field
                        class="example-full-width"
                        *ngIf="enableOutboundCallsViaCallBridging && callBridgingServiceProvider === 'Voxbay'"
                      >
                        <mat-label>Extension</mat-label>
                        <input
                          rows="1"
                          matInput
                          type="text"
                          [disabled]="!isEditMode"
                          [(ngModel)]="extension_voxBay"
                          name="extension_voxBay" required
                        />
                      </mat-form-field>
                    </div>
                  </div>
                  <br />
                  <div class="row">
                    <div class="col-6">
                      <h2>IVR Integration</h2>
                      <section class="example-section">
                        <mat-checkbox
                          class="example-margin"
                          id="checkIntegration"
                          name="checkintegration"
                          [disabled]="!isEditMode"
                          [(ngModel)]="ivrIntegrationEnable"
                          >Enable the IVR integration
                        </mat-checkbox>
                      </section>
                      <mat-form-field
                        appearance="fill"
                        *ngIf="ivrIntegrationEnable  "
                        class="example-full-width"
                      >
                        <mat-label>Select the service provider</mat-label>
                        <mat-select
                          name="ivrServiceProvider"
                          [(ngModel)]="ivrServiceProvider"
                          [disabled]="!isEditMode" required
                        >
                          <mat-option
                            *ngFor="let data of serviceProviderIvr"
                            [value]="data"
                          >
                            {{ data }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>

                      <mat-form-field
                        class="example-full-width"
                        *ngIf="ivrIntegrationEnable  && ivrServiceProvider === 'Bonvoice'"
                      >
                        <mat-label>Token</mat-label>
                        <input
                          rows="1"
                          matInput
                          type="text"
                          [disabled]="!isEditMode"
                          [(ngModel)]="ivrToken"
                          name="ivrToken" required
                        />
                      </mat-form-field>
                      <mat-form-field
                      class="example-full-width"
                      *ngIf="ivrIntegrationEnable && ivrServiceProvider === 'Voxbay'"
                    >
                      <mat-label>DID</mat-label>
                      <input
                        rows="1"
                        matInput
                        type="text"
                        [disabled]="!isEditMode"
                        [(ngModel)]="callerid_voxBay"
                        name="callerid_voxBay" required
                      />
                    </mat-form-field> 
                    </div>
                    <div class="col-6" *ngIf="ivrIntegrationEnable && ivrServiceProvider === 'Bonvoice'">
                      <h2>Add Caller List</h2>
                      <p>select atleast one person</p>
                      <ul>
                        <li *ngFor="let user of subUsers">
                          <mat-checkbox
                            [checked]="user.selected"
                            name="callerList"
                            (change)="onChange($event, user.userId)"
                            [disabled]="!isEditMode"
                          >
                            {{ user.firstname }} {{ user.lastname }}
                          </mat-checkbox>
                        </li>
                      </ul>
                    </div>
                  </div>


                  <button
                    *ngIf="!isEditMode"
                    mat-button
                    type="button"
                    style="float: right"
                    (click)="onTogglenotEditMode()"
                  >
                    <i class="ft-check-square mr-1"></i> Edit
                  </button>
                  <button
                    *ngIf="isEditMode"
                    type="button"
                    style="float: right"
                    mat-button
                    (click)="onTogglenotEditMode()"
                  >
                    <i class="ft-check-square mr-1"></i> Cancel
                  </button>
                  <button *ngIf="callBridgingServiceProvider === 'Bonvoice'"
                    type="submit"
                    [disabled]="
                      !isEditMode ||
                      (ivrIntegrationEnable &&
                        (!ivrToken ||
                          !ivrServiceProvider ||
                          !callerList.length > 0)) ||
                      (enableOutboundCallsViaCallBridging &&
                        (!callBridgingServiceProvider || !autoCallToken ||!DIDNumber ||!autoCallURL ||!channelID))
                    "
                    style="float: right"
                    mat-button
                    color="accent"
                    (click)="onUpdatingFollowUpDetails()"
                  >
                    <i class="ft-check-square mr-1"></i> Save
                  </button>
                  <button
                  *ngIf="callBridgingServiceProvider === 'Voxbay'"
                    type="submit"
                    [disabled]="
                      !isEditMode ||
                      (enableOutboundCallsViaCallBridging &&
                        (!callBridgingServiceProvider || !uId_voxBay ||!callerid_voxBay ||!pin_voxBay ||!extension_voxBay))
                    "
                    style="float: right"
                    mat-button
                    color="accent"
                    (click)="onUpdatingFollowUpDetailsVoxBay()"
                  >
                    <i class="ft-check-square mr-1"></i> Save
                  </button>
                  
                </mat-card-content>
              </div>
            </form>
          </mat-card-header>
        </div>
      </mat-tab>
      <mat-tab label="FIELD CUSTOMISATION">
        <div class="container-lg">
          <br>
          <div class="card card-bordered shadow-none">
            <div class="card-body">
              <h2 class="text-center">{{fieldNameFollowup}} Field Names</h2>
              <div class="row">
                <div class="col-12">
                  <div class="row">
                    <div class="col-12">
                      <mat-form-field appearance="fill">
                        <mat-label>Display {{fieldNameFollowup}} as</mat-label>
                        <input
                          matInput
                          [(ngModel)]="this.fieldNameFollowup"
                          name="fieldNameFollowup"
                          required
                          [disabled]="!editFollowUp"
                          [maxLength]="fieldMaxLength"
                        />
                        <button
                          *ngIf="!editFollowUp"
                          matSuffix
                          mat-icon-button
                          aria-label="Edit"
                          color="accent"
                          (click)="editFollowUpfn()"
                        >
                          <mat-icon>edit</mat-icon>
                        </button>
                        <button
                          *ngIf="editFollowUp"
                          matSuffix
                          mat-icon-button
                          aria-label="Clear"
                          color="warn"
                          (click)="clearFollowUp()"
                        >
                          <mat-icon>close</mat-icon>
                        </button>
                        <button
                          *ngIf="editFollowUp"
                          matSuffix
                          mat-icon-button
                          [disabled]="this.fieldNameFollowup?.length < 3"
                          aria-label="Save"
                          color="accent"
                          (click)="saveFollowUp()"
                        >
                          <mat-icon>done</mat-icon>
                        </button>
                      </mat-form-field>
                    </div>
                  </div>

                  <!-- <div class="row">
                    <div class="col-12 align-self-center">
                      <mat-form-field appearance="fill">
                        <mat-label>Display Meeting as</mat-label>
                        <input
                          matInput
                          [(ngModel)]="this.fieldNameMeeting"
                          name="fieldNameMeeting"
                          required
                          [disabled]="!editMeeting"
                          [maxLength]="fieldMaxLength"
                        />
                        <button
                          *ngIf="!editMeeting"
                          matSuffix
                          mat-icon-button
                          aria-label="Edit"
                          color="accent"
                          (click)="editMeetingfn()"
                        >
                          <mat-icon>edit</mat-icon>
                        </button>
                        <button
                          *ngIf="editMeeting"
                          matSuffix
                          mat-icon-button
                          aria-label="Clear"
                          color="warn"
                          (click)="clearMeeting()"
                        >
                          <mat-icon>close</mat-icon>
                        </button>
                        <button
                          *ngIf="editMeeting"
                          matSuffix
                          mat-icon-button
                          [disabled]="this.fieldNameMeeting?.length < 3"
                          aria-label="Save"
                          color="accent"
                          (click)="saveMeeting()"
                        >
                          <mat-icon>done</mat-icon>
                        </button>
                      </mat-form-field>
                    </div>
                  </div> -->



                </div>

              </div>
            </div>
          </div>
          <br/>
          <div class="card card-bordered shadow-none">
            <div class="card-body">
              <div class="text-center mb-7">
                <h1 class="card-title">Customize fields</h1>
                <p class="card-text">Change field names and configure which fields are to be displayed and which are mandatory.</p>
              </div>
        <form [formGroup]="fieldCustomisationForm">
          <br />
          <div class="flex-container" formGroupName="customerControl">
            <div class="text-center flex-width">
              <h3>Contact name</h3>
            </div>
            <div class="custField">
              <mat-form-field appearance="fill">
                <mat-label>Display name</mat-label>
                <input
                  matInput
                  type="text"
                  id="pNamedisplayName"
                  formControlName="displayName"
                  placeholder="Display name"
                  maxLength="25"
                />
              </mat-form-field>
            </div>
            <div class="custField">
              <mat-checkbox formControlName="display">Display</mat-checkbox>
            </div>
            <div class="custField">
              <mat-checkbox
                formControlName="mandatory"
                >Mandatory
              </mat-checkbox>
            </div>
          </div>
          <div class="flex-container" formGroupName="callStartDate">
            <div class="text-center flex-width">
              <h3>Follow Up Date</h3>
            </div>
            <div class="custField">
              <mat-form-field appearance="fill">
                <mat-label>Display name</mat-label>
                <input
                  matInput
                  type="text"
                  formControlName="displayName"
                  placeholder="Display name"
                  maxLength="25"
                />
              </mat-form-field>
            </div>
            <div class="custField">
              <mat-checkbox formControlName="display">Display</mat-checkbox>
            </div>
            <div class="custField">
              <mat-checkbox
                formControlName="mandatory"
                >Mandatory
              </mat-checkbox>
            </div>
          </div>
          <div class="flex-container" formGroupName="direction">
            <div class="text-center flex-width">
              <h3>Direction</h3>
            </div>
            <div class="custField">
              <mat-form-field appearance="fill">
                <mat-label>Display name</mat-label>
                <input
                  matInput
                  type="text"
                  formControlName="displayName"
                  placeholder="Display name"
                  maxLength="25"
                />
              </mat-form-field>
            </div>
            <div class="custField">
              <mat-checkbox formControlName="display">Display</mat-checkbox>
            </div>
            <div class="custField">
              <mat-checkbox
                formControlName="mandatory"
                >Mandatory
              </mat-checkbox>
            </div>
          </div>
          <div class="flex-container" formGroupName="notes">
            <div class="text-center flex-width">
              <h3>Notes</h3>
            </div>
            <div class="custField">
              <mat-form-field appearance="fill">
                <mat-label>Display name</mat-label>
                <input
                  matInput
                  type="text"
                  formControlName="displayName"
                  placeholder="Display name"
                  maxLength="25"
                />
              </mat-form-field>
            </div>
            <div class="custField">
              <mat-checkbox formControlName="display">Display</mat-checkbox>
            </div>
            <div class="custField">
              <mat-checkbox
                formControlName="mandatory"
                (change)="disableNotes()"
                >Mandatory
              </mat-checkbox>
            </div>
          </div>

            <!-- </div>
          </div> -->
          <br>
          <div class="flex-container" formGroupName="outcome">
            <div class="text-center flex-width">
              <h3>Outcome</h3>
            </div>
            <div class="custField">
              <mat-form-field appearance="fill">
                <mat-label>Display name</mat-label>
                <input
                  matInput
                  type="text"
                  formControlName="displayName"
                  placeholder="Display name"
                  maxLength="25"
                />
              </mat-form-field>
            </div>
            <div class="custField">
              <mat-checkbox formControlName="display">Display</mat-checkbox>
            </div>
            <div class="custField">
              <mat-checkbox
                formControlName="mandatory"
                (change)="disableOutcome()"
                >Mandatory
              </mat-checkbox>
            </div>
          </div>
          <!-- <div class="card card-bordered shadow-none">
            <div class="card-body"> -->
              <div class="flex-container" formGroupName="followUpOutcome" >
                <div class="flex-width text-center">
                  <h3>Outcome Options</h3>
                </div>
                <br />
                <div class="custFields">
                  <mat-form-field class="custom-width" >
                    <mat-label
                      >Provide options seperated by commas</mat-label
                    >
                    <br>
                    <textarea
                    cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="5"
                      matInput
                      formControlName="followUpOutcome"
                      name="followUpOutcome"
                    >
                    </textarea>
                  </mat-form-field>
                </div>
                <br>
                <!-- <button
                *ngIf="!isEditModeOutcome"
                mat-button
                type="button"
                style="float: right"
                (click)="onToggle()"
              >
                <i class="ft-check-square mr-1"></i> Edit
              </button>
              <button
                *ngIf="isEditModeOutcome"
                type="button"
                style="float: right"
                mat-button
                (click)="onToggleCancel()"
              >
                <i class="ft-check-square mr-1"></i> Cancel
              </button> -->
              <!-- <button
                type="submit"
                [disabled]="
                  !isEditModeOutcome
                "
                style="float: right"
                mat-button
                color="accent"
                (click)="onUpdatingFollowUpOutcome(fieldCustomisationForm)"
              >
                <i class="ft-check-square mr-1"></i> Save
              </button> -->
              </div>
            <!-- </div>
          </div> -->
          <br>
          <div class="flex-container" formGroupName="status">
            <div class="text-center flex-width">
              <h3>Status</h3>
            </div>
            <div class="custField">
              <mat-form-field appearance="fill">
                <mat-label>Display name</mat-label>
                <input
                  matInput
                  type="text"
                  formControlName="displayName"
                  placeholder="Display name"
                  maxLength="25"
                />
              </mat-form-field>
            </div>
            <div class="custField">
              <mat-checkbox formControlName="display">Display</mat-checkbox>
            </div>
            <div class="custField">
              <mat-checkbox
                formControlName="mandatory"
                (change)="disableStatus()"
                >Mandatory
              </mat-checkbox>
            </div>
          </div>
          <!-- <div class="card card-bordered shadow-none">
            <div class="card-body"> -->
              <div class="flex-container" formGroupName="followUpStatus" >
                <div class="flex-width text-center">
                  <h3>Status  Options</h3>
                </div>
              <br />
              <div class="custFields">
              <mat-form-field class="custom-width" >
              <!-- <mat-form-field appearance="fill" style="width: 100%;"> -->
                <mat-label
                  >Provide options seperated by commas(&nbsp;<strong>Missed is mandatory</strong>&nbsp;)</mat-label
                >
                <br>
                <textarea
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="5"
                  matInput
                 formControlName="followUpStatus"
                >
                </textarea>
              </mat-form-field>
            </div>
              <br>
                <!-- <button
                *ngIf="!isEditModestatus"
                mat-button
                type="button"
                style="float: right"
                (click)="onToggleStatus()"
              >
                <i class="ft-check-square mr-1"></i> Edit
              </button>
              <button
                *ngIf="isEditModestatus"
                type="button"
                style="float: right"
                mat-button
                (click)="statusToggleCancel()"
              >
                <i class="ft-check-square mr-1"></i> Cancel
              </button> -->
              <!-- <button
                type="submit"
                [disabled]="
                  !isEditModestatus
                "
                style="float: right"
                mat-button
                color="accent"
                (click)="onUpdatingFollowUpStatus(fieldCustomisationForm)"
              >
                <i class="ft-check-square mr-1"></i> Save
              </button> -->
            </div>

          <!--doubt-->
          <!-- <div class="flex-container" formGroupName="callStartTime">
            <div class="flex-width">
              <h3>Contact name</h3>
            </div>
            <div class="custField">
              <mat-form-field appearance="fill">
                <mat-label>Display name</mat-label>
                <input
                  matInput
                  type="text"
                  id="pNamedisplayName"
                  formControlName="displayName"
                  placeholder="Display name"
                />
              </mat-form-field>
            </div>
            <div class="custField">
              <mat-checkbox formControlName="display">Display</mat-checkbox>
            </div>
            <div class="custField">
              <mat-checkbox
                formControlName="mandatory"
                >Mandatory
              </mat-checkbox>
            </div>
          </div>
          <div class="flex-container" formGroupName="completedStatus">
            <div class="flex-width">
              <h3>Contact name</h3>
            </div>
            <div class="custField">
              <mat-form-field appearance="fill">
                <mat-label>Display name</mat-label>
                <input
                  matInput
                  type="text"
                  id="pNamedisplayName"
                  formControlName="displayName"
                  placeholder="Display name"
                />
              </mat-form-field>
            </div>
            <div class="custField">
              <mat-checkbox formControlName="display">Display</mat-checkbox>
            </div>
            <div class="custField">
              <mat-checkbox
                formControlName="mandatory"
                >Mandatory
              </mat-checkbox>
            </div>
          </div>
          <div class="flex-container" formGroupName="nextFollowUpDate">
            <div class="flex-width">
              <h3>Contact name</h3>
            </div>
            <div class="custField">
              <mat-form-field appearance="fill">
                <mat-label>Display name</mat-label>
                <input
                  matInput
                  type="text"
                  id="pNamedisplayName"
                  formControlName="displayName"
                  placeholder="Display name"
                />
              </mat-form-field>
            </div>
            <div class="custField">
              <mat-checkbox formControlName="display">Display</mat-checkbox>
            </div>
            <div class="custField">
              <mat-checkbox
                formControlName="mandatory"
                >Mandatory
              </mat-checkbox>
            </div>
          </div>
          <div class="flex-container" formGroupName="nextFollowUpTime">
            <div class="flex-width">
              <h3>Contact name</h3>
            </div>
            <div class="custField">
              <mat-form-field appearance="fill">
                <mat-label>Display name</mat-label>
                <input
                  matInput
                  type="text"
                  id="pNamedisplayName"
                  formControlName="displayName"
                  placeholder="Display name"
                />
              </mat-form-field>
            </div>
            <div class="custField">
              <mat-checkbox formControlName="display">Display</mat-checkbox>
            </div>
            <div class="custField">
              <mat-checkbox
                formControlName="mandatory"
                >Mandatory
              </mat-checkbox>
            </div>
          </div>
          <div class="flex-container" formGroupName="nextFollowUpNotes">
            <div class="flex-width">
              <h3>Contact name</h3>
            </div>
            <div class="custField">
              <mat-form-field appearance="fill">
                <mat-label>Display name</mat-label>
                <input
                  matInput
                  type="text"
                  id="pNamedisplayName"
                  formControlName="displayName"
                  placeholder="Display name"
                />
              </mat-form-field>
            </div>
            <div class="custField">
              <mat-checkbox formControlName="display">Display</mat-checkbox>
            </div>
            <div class="custField">
              <mat-checkbox
                formControlName="mandatory"
                >Mandatory
              </mat-checkbox>
            </div>
          </div> -->
          <button
            mat-button
            color="accent"
            class="float-right mr-5"
            type="submit"
            id="submitBTn"
            (click)="onSubmit()"
            (click)="fieldCustomisationForm.controls.followUpStatus.touched?onUpdatingFollowUpStatus(fieldCustomisationForm):''"
            (click)="fieldCustomisationForm.controls.followUpOutcome.touched?onUpdatingFollowUpOutcome(fieldCustomisationForm):''"
            [disabled]="!this.fieldCustomisationForm.valid || !onCheckNetwork()"
          >
            Save
          </button>
          <br />
          <br />
          <br />
        </form>
            </div>
          </div>
        </div>
      </mat-tab>
      <!-- <mat-tab label="Additional Field">
        <ng-template mat-tab-label> &nbsp; ADDITIONAL FIELDS </ng-template>
        <br />
        <div class="frame">
          <app-followup-additional-settings
            [superUserId]="superUserId"
            [superUserDetails]="superUserDetails"
            [usrProfileData]="usrProfileData"
          ></app-followup-additional-settings>
        </div>
      </mat-tab> -->
      <mat-tab label="ADDITIONAL FIELDS">
        <app-additionalfield-common
        [superUserId]="superUserId"
        [superUserDetails]="superUserDetails"
        [usrProfileData]="usrProfileData"
        [customFieldName]="fieldNameFollowup"
        [customFieldUnique]="currentCustomField"
        [customDeleteKey]="'deleteFieldFollowup'"
        [additionalFieldArrName]="'customFieldsFollowUp'"
        [customFieldSettings]="followUpSettings"
        ></app-additionalfield-common>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
