<br>
<div class="col-md-12 faq-title-section">
    <h3 style="color: #283593;">Frequently asked questions</h3>
</div>
<br>
<div class="container-fluid">

    <h3 class="mat-h2 mat-title">1. What is a quotation?</h3>
    <p class="text-justify">
        A quotation is a proposal that holds details about the price of goods and services provided to the customer. A
        quotation is issued by a supplier and cannot be altered once accepted by the buyer.

    </p>

    <h3 class="mat-h2 mat-title">
        2. What is the difference between an invoice and a quotation?
    </h3>


    <div class="panel">
        <p class="text-justify">
            An invoice is a document that requests a payment to be done by the customer while a quotation is a document
            that contains the proposed price of goods and services provided to your customers.
        </p>
    </div>
    <h3 class="mat-h2 mat-title">3. Is a quote a fixed price?</h3>


    <div class="panel">
        <p class="text-justify">
            Yes. A Quote is a fixed price. Once a quotation is accepted by the buyer, it cannot be altered by the
            seller. But in general practice, the buyer might negotiate on the price and terms and then finalize the
            sale.
        </p>
    </div>
    <h3 class="mat-h2 mat-title">4. What is the difference between quotation and tender?
    </h3>


    <div class="panel">
        <p class="text-justify">
            A quotation is a proposed price of the services or products issued to a buyer by a seller. It gives a
            proposed cost of the services to the buyer/seller which is left to the buyer to accept or reject. While a
            tender is a process where sellers or service providers submit a proposal or bid to provide the
            goods/services to a potential customer. It is used to find out the best value for money from the service
            providers.
        </p>
        <button mat-raised-button color="primary" routerLink="/free-tool/create/Quotation">Create your
            Quotation
            now!</button>

    </div>
    <br>
    <h3 class="mat-h2 mat-title">
        5. How do I write a quote to a company?</h3>

    <div class="panel">
        <p class="text-justify">
            To write a quote to a company:
        </p>
        <ul>
            <li>Analyze the project: Understand the requirements of your clients and examine
                their conditions.</li>
            <li>Set a budget and time schedule: Once you are certain of all requirements you
                need for the project
                completion, estimate expenses and fix a timeline.
            </li>
            <li>Create a Quotation: Using freegstinvoice, make a quotation by filling out the fields provided. Download
                PDF of quotations and send it to your clients via email..</li>
        </ul>
    </div>
    <h3 class="mat-h2 mat-title"> 6. Is Freegstinvoice really free?</h3>


    <div class="panel">
        <p class="text-justify">
            Absolutely. You can create quotes online for free with our online quotation maker. There is no sign-up
            required and you can work offline too with our online quote maker. </p>
    </div>
    <h3 class="mat-h2 mat-title">
        7. Are quotations legally binding?
    </h3>

    <div class="panel">
        <p>
            Yes. Quotations are legally binding once they are approved by the buyer.
        </p>

    </div>

    <h3 class="mat-h2 mat-title">
        8. Can I choose between different currency options using your quote generator?
    </h3>

    <div class="panel">
        <p>
            Yes. With freegstinvoice.com you can choose different currency options for quote creation.
        </p>
    </div>
    <h3 class="mat-h2 mat-title">
        9. How can I make a PDF quote?

    </h3>

    <div class="panel">
        <p class="text-justify">


            After you create quotes using our quotation software, you can download a PDF copy of it and send them to
            your clients via email.

        </p>
    </div>
    <h3 class="mat-h2 mat-title">
        10. How can I send a quotation using this online quotation generator?
    </h3>

    <div class="panel">
        <p class="text-justify">
            Using our free quotation maker, you can download the pdf of the quote you have created and send it to your
            customers via email.
        </p>
    </div>
    <h3 class="mat-h2 mat-title">11. Will there be ads or watermarks on the quote I create?
    </h3>


    <div class="panel">
        <p class="text-justify">
            Absolutely not. Your quotations are totally free from advertisements or watermarks. Although a free tool,
            you can create online quotations without having to worry about ads on them.
        </p>
    </div>
    <h3 class="mat-h2 mat-title"> 12. What is the difference between a quote and an
        estimate?</h3>


    <div class="panel">
        <p>
            A quote and an estimate differ from each other in a few ways.
            A quotation is a fixed priced offer which means the service providers can move ahead with the work. Once
            approved, the service providers should adhere to the details mentioned in the quotation for the validity
            period. However, an estimate is an approximate guess of what the work cost. It is not binding and can change
            depending on the work.

        </p>
    </div>
    <h3 class="mat-h2 mat-title"> 13. Do you have multiple quotation templates?</h3>


    <div class="panel">
        <p class="text-justify">
            Yes. Our free quote generator has multiple quotation templates and quotation formats that you can use to
            make your quotations stand out. </p>
    </div>
    <h3 class="mat-h2 mat-title"> 14. Can I personalize quotations?
    </h3>


    <div class="panel">
        <p class="text-justify">
            Of course. Using our online quote generator, you get an option to add your company logo or signature to your
            quotes making them look professional. By clicking on the palette icon, you can also choose colours for your
            quotation layout that match your brand and logo.</p>
    </div>
    <h3 class="mat-h2 mat-title"> 15. How is a price quote different from a sales quote?
    </h3>


    <div class="panel">
        <p class="text-justify">

            A price quote and a sales quote have only slight differences between them. A price quote is a legally
            binding document that gives a fixed price for a project. However, a sales quote is like a price quote but
            specifically gives cost details about the buyer’s products only. A price quote could include costs of either
            products or services or both while a sales quote gives the quantity and price for products only.</p>
    </div>
    <h3 class="mat-h2 mat-title"> 16. What are the other products provided by Zenys, parent
        company of freegstinvoice?
    </h3>
    <div class="panel">
        <p class="text-justify">
            Other than free quotation maker, Zenys provides a free invoice generator, GST invoice maker and a free
            estimate maker. You can download formats for free including invoice formats, quotation formats, or estimate
            formats using our tool. We also provide CRM software that is designed for small businesses and freelancers.
            You can sign up for our software and avail it.
        </p>
    </div>
</div>
<br>
<div class="container-fluid">
    <h3 style="color: #283593;">Why choose Freegstinvoice Online Quotation Generator?
    </h3>
    <br>
    <p>
        With our Online Quote Generator, your job of sending quotations to your clients is easy and quick. Create
        quotes, sales quotations and price quotations and send them to your clients by downloading the quotation in PDF.
    </p>
    <p>The quotations you create are professional looking as you can choose from the multiple, professional quotation
        templates we provide. Fill in the fields, add your company logo and signature to them and make an impression on
        your clients. To engage in a foreign business we have also provided you with an option to choose between
        different currencies.
    </p>
    <p>
        Quote Creation is now simple with Freegstinvoice Free Online Quotation Maker. Within a minute you can create
        quotations online with us. </p>

</div>
<br>
<br>
<div class="container-fluid">
    <h3 style="color: #283593;">Benefits of using an online quotation maker?</h3>
    <br>
    <p>
        There are a lot of reasons why you should use an online quote generator.
        We have listed down some of the important benefits of using a quote maker.
    </p>
    <ul>
        <li>Easy to create online quotations.</li>
        <li>Helps to make professional Quotations </li>
        <li>Saves time and money</li>
        <li>Online quotations are easy to be sent to clients</li>
        <li>Multiple Quotation templates available.</li>
        <li>Quotation software is easy to access</li>
        <li>Makes your overall payment processes organized.</li>
    </ul>

</div>

<br>
<br>
<div class="container-fluid">
    <h3 style="color: #283593;">How to Create Quotes with our Quotation Generator?
    </h3>
    <br>
    <p>
        Here is a step-by-step guide for you on how to create a quotation with our online
        quote maker so that you can
        create quotes online without any errors.
    </p>
    <h2 class="mat-h2 mat-title">Step 1 : Fill in the quotation details.</h2>

    <p>In the quotation format provided, type in your document title in the field given. Click on the logo field and
        click apply logo and select your logo. Type in the quotation details where you can add the quotation number,
        quotation date etc.
    </p>
    <h2 class="mat-h2 mat-title">Step 2 : Billed by and billed to</h2>

    <p>
        Once done with the header, add the billing details of the client and your company. If you are GST registered you
        can add your GST no also to make a quotation. When you check the delivery location option, you get to add the
        delivery address.
    </p>
    <h2 class="mat-h2 mat-title"> Step 3:Item and Charge</h2>
    <p>
        This GST bill format allows you to add the respective currency, GST and Cess of your item. Type in the Item
        name, quantity and the rate of it and if required you can add your HSN code in the item description field. To
        add more items click the Add Next Item button and fill in the fields.
    </p>
    <h2 class="mat-h2 mat-title"> Step 4 : Additional Notes</h2>

    <p>
        In the last step, you can type in any additional information, if you have any. To ensure quick payment it’s
        better you enter your bank account details in the given field. In the signature field, add your name and upload
        your signature. You don’t want to miss out on this feature as you can create quotations that look professional
        and authentic. Lastly, enter your name, contact num and your email address.
    </p>
    <p>
        Once you have filled in all the details click preview and download your quotation by clicking the Download
        button. If you feel like making changes to your quotation click the Edit button and edit your quotation. Our
        online quote maker provides you with different layouts you can apply to your quotations. Follow these very
        simple 4 steps and create quotations in a minute. </p>
</div>
<div class="container-fluid">
    <h3 style="color: #283593;">
        Who is it for?
    </h3>
    <br>
    <h2 class="mat-h2 mat-title">
        For Architects/ Interior Designers
    </h2>
    <p>
        Freegstinvoice quotation generator lets architects and interior designers make and send quotations quickly to
        clients and helps them get paid faster. Professionalism is a must for your business and our online quote
        generator tool helps you with it. With our multiple quotation templates you can create professional quotations
        and make an impression on your clients.
    </p>
    <h2 class="mat-h2 mat-title">
        For software developers.
    </h2>
    <p>

        With our online quotation maker, software developers find it easy to create free quotations as professional as
        their software. This free tool allows you to create unlimited quotations without having to pay or register. With
        the help of our quotation templates you can create professional quotations to bill your clients the right way.
    </p>
    <h2 class="mat-h2 mat-title">
        For web developers</h2>
    <p>
        Freegstinvoice quotation software is a quotation maker online for freelancers including web developers,
        designers etc who don't want to spend their hard earned money on an online quote maker .With our quotation
        software you can create unlimited, professional quotations for free and that too without registering. Just a few
        seconds to fill in the fields of our quotation templates and the quotations are ready.
    </p>
    <h2 class="mat-h2 mat-title">
        For photographers

    </h2>
    <p>
        For all the photography work you do, you have to get paid on time. That is where you can use our free quotation
        generator to make your billing process easy. Our quotation maker has a very simple user interface that makes it
        easy for you to handle it. You get free quotations to bill your clients within a minute.
    </p>
    <h2 class="mat-h2 mat-title">
        For event planners</h2>
    <p>
        Amidst your tight schedule of event management, catering, decorations etc you might get stressed out on doing
        the billings the right way. Our freegstinvoice quotation maker online ensures you get paid the right way. From
        event coordination to the rentals of the event, you require quotations and our quotation software helps you with
        it .
    </p>
    <h2 class="mat-h2 mat-title">
        For boutique owners</h2>
    <p>Freegstinvoice online quote maker is the best quotation generator for boutique owners as it is personalised for
        professionals of such industries. You can free yourself from having your hands full in the financial matters of
        your business and spend your time on what you love. Without spending money, time and effort you can create the
        most professional looking quotations for your clients using our online quotation maker.</p>
    <h2 class="mat-h2 mat-title">
        For makeup artists</h2>
    <p>When you have to put in all your love and passion for your job, it might seem a little hard for you at times to
        deal with the numbers. Freegstinvoice quotation generator has made this job easy for you. We have different
        quotation formats that you can choose from to create quotations online without spending much time and effort. No
        more hassle to create quotations for your clients.</p>
    <h2 class="mat-h2 mat-title">
        For home bakers</h2>
    <p>
        For a person who is not into too much technology, this free online quote maker is the best option. For home
        bakers sending quotations to clients is never again a big deal with this easy, free quotation maker No sign in,
        no ads, no subscription, and multiple quotation format options! With our free online quotation templates, you
        get the most professional quotations to send to your customers.
    </p>
</div>