<div class="container-lg">
    <br>
    <div class="container-fluid">
        <div class="border" style=" border-radius: 5px;">
            <p
                style="font-size: 16px;align-items: center;text-align: center;font-weight: bold;color: rgb(86, 86, 243);">
                <img src="assets/images/freetool.jpg" alt="dp" class="example-header-image" />
                Its Free - Sign up for our free CRM, Sales management, Invoicing and Collection tool &nbsp;&nbsp;
                <a href="https://zenys.org/" target="_blank">
                    <button mat-raised-button (click)=onLogIn() color="accent">Try Now</button>
                </a>
            </p>
        </div>
    </div>
    <div class="container-fluid" style="padding-top:10px">
        <br>

        <br><br>

        <!--Hero image and text-->
        <div class="row d-flex align-items-center">
            <div class="col-sm-12 col-md-6">
                <img alt="Online invoice format" src="assets/images/hero_imgs.png"
                    style="max-width: 100%;margin-bottom: 10px;">
            </div>
            <div class="col-sm-12 col-md-6" style="padding: 10px;margin-bottom: 10px;">
                <h1 class="mat-h2 mat-display-2" style="color: #283593;font-weight: bold;">Free GST Invoice Generator
                </h1>
                <h2 class="mat-h2 mat-title">Share professional<span> Invoices, Quotations and Estimates</span> with
                    your
                    customers!</h2>
                <p class="header-title-text">Our GST invoice generator is completely free and requires no registration.
                </p>
                <button mat-raised-button color="accent" routerLink="/free-tool/create/Invoice">CREATE YOUR FREE
                    INVOICE</button>

            </div>

        </div>
        <br>
        <br>
        <br>
        <br>
        <!--About section-->
        <div>
            <h1 class="mat-h2 mat-display-2" style="color: #283593;">Generate Professional Invoices in Minutes!</h1>
            <p class="header-title-text">
                Introducing to you the simplest online invoice generator for creating GST invoices. Create invoice and
                share with your
                customers using our free invoice generator and without using any billing software. Use our free invoice
                generator and create Invoices online with multiple Invoice templates according to your needs.
            </p>
        </div>
        <br>
        <br>
        <!--Numbers section-->
        <div class="row d-flex align-items-center">
            <div class="col-sm-12 col-md-4">
                <mat-card>
                    <h2 class="mat-h3 mat-display-3" style="color: #283593;font-weight: bold;">8,500 +</h2>
                    <p class="header-title-text">Invoices generated</p>
                </mat-card>
            </div>
            <div class="col-sm-12 col-md-4">
                <mat-card>
                    <h2 class="mat-h2 mat-display-2" style="color: #283593;font-weight: bold;">10,000 +</h2>
                    <p class="header-title-text">Quotations Generated</p>
                </mat-card>
            </div>
            <div class="col-sm-12 col-md-4">
                <mat-card>
                    <h2 class="mat-h2 mat-display-2" style="color: #283593;font-weight: bold;"> 2,000 +</h2>
                    <p class="header-title-text">Estimates Generated</p>
                </mat-card>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <!--Features-->
        <h1 class="mat-h2 mat-display-2" style="color: #283593;">Features that you will love!
        </h1>
        <div class="row d-flex align-items-center">
            <div class="col-sm-12 col-md-4">
                <div class="container-fluid border card2">
                    <h4 class="card-hdr">ABSOLUTELY FREE!!</h4>
                    <p class="header-title-text">Without spending a penny, create unlimited GST invoices, quotations,
                        estimates or proforma invoices</p>
                </div>

            </div>
            <div class="col-sm-12 col-md-4">
                <div class="container-fluid border card2">
                    <h4 class="card-hdr">WORKS OFFLINE</h4>
                    <p class="header-title-text">Do invoicing, even when you are offline. Bookmark our website and
                        create invoices with a few clicks</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="container-fluid border card2">
                    <h4 class="card-hdr">MULTIPLE TEMPLATES</h4>
                    <p class="header-title-text">Create invoices, quotations and estimates with multiple print formats
                        as per your need</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="container-fluid border card2">
                    <h4 class="card-hdr">YOUR DATA IS SAFE</h4>
                    <p class="header-title-text">We don't access or store any details from the documents you create!
                        Need proof? try using it offline</p>
                </div>

            </div>
            <div class="col-sm-12 col-md-4">
                <div class="container-fluid border card2">
                    <h4 class="card-hdr">NO REGISTRATION</h4>
                    <p class="header-title-text">Don't worry! <br>We don't ask you to sign to download or print
                        documents
                    </p>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="container-fluid border card2">
                    <h4 class="card-hdr">NO ADVERTISEMENTS</h4>
                    <p class="header-title-text">Tired of free tools that add their advertisements in your documents?
                        Try our tool!</p>
                </div>

            </div>
        </div>
        <br><br>
        <br><br>
        <h1 class="mat-h2 mat-display-2" style="color: #283593;">Download free format
        </h1>
        <div class="row d-flex align-items-center">
            <div class="col-sm-12 col-md-4">
                <div class="container-fluid  card2">
                    <h4 class="card-hdr">Invoice format</h4>
                    <p class="header-title-text">Download free invoice format in excel and create invoice offline</p>
                    <button mat-raised-button color="accent" [routerLink]="'/free-tool/InvTemplate'">INVOICE
                        FORMAT</button>
                </div>

            </div>
            <div class="col-sm-12 col-md-4">
                <div class="container-fluid  card2">
                    <h4 class="card-hdr">Quotation format</h4>
                    <p class="header-title-text">Download free quotation format in excel and create quotation offline
                    </p>
                    <button mat-raised-button color="accent" [routerLink]="'/free-tool/QuoTemplate'">QUOTATION
                        FORMAT</button>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="container-fluid  card2">
                    <h4 class="card-hdr">Estimate Format</h4>
                    <p class="header-title-text">Download free estimate format in excel and create estimate offline</p>
                    <button mat-raised-button color="accent" routerLink="/free-tool/EstTemplate">ESTIMATE
                        FORMAT</button>
                </div>
            </div>
        </div>
        <br><br><br><br>
        <!--FAQ section-->
        <div class="col-md-12 faq-title-section">
            <h1 class="mat-h2 mat-display-2" style="color: #283593;">Frequently asked questions</h1>
        </div>

        <div class="container-fluid">

            <h4 class="mat-h2 mat-title">1. What is an invoice?</h4>
            <p class="text-justify">
                An invoice is a document issued by a seller or a service provider which contains details about
                the product
                or the service sold to the customer. In simple terms, an invoice records the transactions
                between both the
                vendor and buyer and indicates what must be paid by the buyer according to the payment terms.
            </p>

            <h4 class="mat-h2 mat-title">
                2. What is the purpose of an invoice?
            </h4>


            <div class="panel">
                <p class="text-justify">
                    An invoice acts as a record of the transactions made between the seller and the customer. It
                    makes you
                    stay organized and knowledgeable about which customers owe you and when the payment is due.
                </p>
            </div>
            <h4 class="mat-h2 mat-title">3. How is a receipt different from an invoice?</h4>


            <div class="panel">
                <p class="text-justify">
                    A receipt is a document against the settlement of payment while an invoice indicates the
                    payment to be
                    done by the buyer.
                </p>
            </div>
            <h4 class="mat-h2 mat-title">4. How do I create an invoice?</h4>


            <div class="panel">
                <p class="text-justify">
                    You can easily create an invoice using our free invoice generator tool. You can type in the
                    data and fill
                    up the boxes provided by the invoice creator and in no time invoices could be created. Using
                    invoice
                    templates you can choose your desired invoice formats, customize and save them for further
                    use. Hurry up
                    and create an invoice for free right now!.

                </p>
                <button mat-raised-button color="primary" routerLink="/free-tool/create/Invoice">Create your invoice
                    now!</button>

            </div>
            <h4 class="mat-h2 mat-title">
                5. Is my data safe?</h4>

            <div class="panel">
                <p class="text-justify">
                    FreeInvoiceGenerator does not save any details such as your billing details, GST number,
                    your customer
                    number, items sold etc. The data entered is used to print the document directly. In fact you
                    can even use
                    the tool offline.
                </p>
            </div>
            <h4 class="mat-h2 mat-title"> 6. Is free GST invoice generator actually free?</h4>


            <div class="panel">
                <p class="text-justify">
                    Absolutely. You can create your invoices for free using Zenys online invoice generator.
                    Don’t wait any
                    longer. Click on the link above and start making invoices. </p>
            </div>
            <h4 class="mat-h2 mat-title">
                7. Can I save my invoices online in Free GST Invoice maker?
            </h4>

            <div class="panel">
                <p>
                    If you want to save your created invoices, you can sign up for our <span> <a
                            href="https://www.zenysapp.com" style="color: royalblue;">free CRM and billing
                            software.</a></span> </p>

            </div>

            <h4 class="mat-h2 mat-title">
                8. Do I need to make an account to create an invoice?
            </h4>

            <div class="panel">
                <p>
                    You can create invoices, quotations and estimates using FreeInvoiceGenerator without signing
                    in or
                    registering</p>
            </div>
            <h4 class="mat-h2 mat-title">
                9. What is the difference between invoice and proforma invoice?

            </h4>

            <div class="panel">
                <p class="text-justify">
                    Unlike an invoice, a proforma invoice is an estimate of a product or a service a seller
                    intends to sell. A
                    proforma invoice is issued before order placement, while an invoice is issued before the
                    payment.</p>
            </div>
            <h4 class="mat-h2 mat-title">
                10. What is the difference between quotation and estimate?
            </h4>

            <div class="panel">
                <p class="text-justify">
                    A quotation is a fixed price offer that can't be changed once accepted by the customer while
                    an estimate
                    is an approximate price that may change.</p>
            </div>
            <h4 class="mat-h2 mat-title">11. What is cess and where should I apply cess?</h4>


            <div class="panel">
                <p class="text-justify">
                    A cess is a form of tax charged by the government on tax with specific purposes till the
                    time the
                    government gets enough money for that purpose. It is imposed as an additional tax. CESS is
                    mostly applied
                    on the total amount, but you should check the details as per the case. </p>
            </div>
            <h4 class="mat-h2 mat-title"> 12. What is the difference between CGST and SGST?</h4>


            <div class="panel">
                <p>
                    CGST & SGST are part of GST. CGST stands for Central Goods and Service Tax and SGST stands
                    for State Goods
                    and Service Tax. </p>
            </div>
            <h4 class="mat-h2 mat-title"> 13. What is HSN code?</h4>


            <div class="panel">
                <p class="text-justify">
                    HSN code stands for “Harmonized System of Nomenclature”. It is a 6-digit uniform code that
                    has been
                    introduced to bring a uniform classification of goods. </p>
            </div>





        </div>

        <br><br>
        <br><br>
        <h1 class="mat-h2 mat-display-2" style="color: #283593;">Who is it for? </h1>

        <h2 class="mat-h2 mat-title">For photographers</h2>
        <p>
            Free GST invoice.com is the best free invoice software for photographers who are not so tech-savvy. This
            simple invoicing software is the perfect, tailor-made tool for such freelancers who don’t want to dip
            into their pockets for an invoicing tool. You can choose an invoice template from the multiple invoice
            templates available to create professional
            invoices online. You can access it via web or mobile phone to use this invoice maker.
        </p>


        <h2 class="mat-h2 mat-title">For interior designers and architects</h2>
        <p>

            Freegstinvoice.com is the perfect choice for architects who are in need of an online invoice maker to
            invoice clients.
            They can use their company logo or signatures to create professional invoices with this free invoice
            generator.
            You can access it via web or mobile phone to use this invoice maker.
        </p>


        <h2 class="mat-h2 mat-title">For event planners</h2>
        <p>

            Being personalized for such business owners, freegstinvoice offers only the required yet the best features
            for them.
            With an easy-to-use interface, event planners and designers find it very easy to invoice their clients in
            seconds.
            With freegstinvoice they can make unlimited invoices for free from multiple invoice samples like proforma
            invoice templates, sales invoice formats, GST invoice formats and much more.

        </p>

        <h2 class="mat-h2 mat-title">For designers</h2>
        <p>
            Freegstinvoice is a great invoicing tool for all small businesses including designers. It is a free and
            easy-to-use invoice creator for India that is accessible via the web and phones. They can create unlimited
            invoices without having to pay or register.
        </p>

        <h2 class="mat-h2 mat-title">For House owners/ Property owners</h2>
        <p>
            Freegstinvoice.com is the best invoice software even for house owners or property managers. As a property
            owner,
            you have a lot of things to look over including your rent collections. This online invoice creator helps
            things
            go smoothly making your duties easier. With freegstinvoice.com sending invoices to your tenets is fast and
            easy.
            You get paid the right way with this invoice maker.
        </p>

        <h2 class="mat-h2 mat-title"> For Boutique owners</h2>
        <p>
            Invoicing clients is a very essential part of a boutique business. For such businesses the best invoice
            system you
            can opt for is freegstinvoice.com. There is no fuss in dealing with the finances with this easy, online
            invoice
            software.
        </p>
        <h2 class="mat-h2 mat-title"> For bakers</h2>
        <p>
            Freegstinvoice is the right choice for bakers and people doing homemade cake business. You can free yourself
            from having your hands full in the financial matters of your business and spend your time on what you love.
            Sending invoices to clients is never again a big deal with this easy invoice tool. For a person who is not
            into
            too much technology, this invoice generator is the best option. No sign in, no ads, no subscription, and
            multiple template options! You get the most professional-looking invoices to send to your customers.
        </p>


        <h2 class="mat-h2 mat-title"> For makeup artists</h2>

        <p>
            For all the love and dedication you put into your job to make your clients look beautiful, you deserve to be
            paid quickly. When you have a lot of things to focus on, freegstinvoice has made the payment processes
            simple
            for you. You can create professional invoices in a snap and share them with your clients on the go. With
            this
            free invoice software, you save money, time, and effort to settle the final deals with your clients.
        </p>


    </div>