.alignmiddle{
    // padding-left: 50%;
    // padding-right: 50%;
    width: 100%;
  margin: 0 auto;
    text-align: center;
}
.row{
  width: 75%;
  margin: 0 auto;
  text-align: center;
}
mat-form-field{
  width:100%
}