<mat-progress-bar *ngIf="!progressBarStatus" mode="indeterminate">
</mat-progress-bar>

<div [style.display]="saleGridService.saleView =='table' &&
   commonService.userPlan.saleTableViewEnabled  && progressBarStatus  ? 'block' : 'none'" class="container-fluid">

  <br>
  <app-custom-report-table [userId]="userId" [columns]="columnsDispaly" [dataList]="documentsArray.data"
    [displayName]="displayName" [tableName]="tableName" [userIdsArray]="userIdsArray" [userNamesArray]="userNamesArray"
    [(selection)]="selection" [actAgeing]="actSaleAgeing" [statusAge]="saleStatusAge" [customFields]="customFieldsSale"
    [fieldCustomsettings]="saleSettings" [tableDefaultData]="tableDefaultData" [accountType]="accountType"
    [contactSettings]="contactSettings" [disableDownload]="disableSaleDownload"
    [inputFieldNameFollowup]="fieldNameFollowup" [inputFieldNameNotes]="fieldNameSaleNotes"
    [disableDocCreateEst]="disableDocCreateEst" [disableDocCreateQuot]="disableDocCreateQuot"
    [disableDocCreateInv]="disableDocCreateInv" [disableEditSale]="disableSaleEdit" [disableFoll]="disableFoll"
    [tableFrom]="'lite mode sale'" (onTableSettingsEvent)="onTableSettings($event)"></app-custom-report-table>

  <br>
  <br>

</div>
<!---------------Sale List View----------->
<ng-container *ngIf="reload">
  <div [style.display]="saleGridService.saleView =='grid' && commonService.userPlan.saleGridViewEnabled &&
  progressBarStatus  ? 'block' : 'none'" style="  height:100%">

    <div class="wrapper d-flex flex-row bd-highlight justify-content-start" *ngIf="saleLoaded" style="height:100%">
      <div class="p-2 bd-highlight" *ngFor="let stage of saleStatus, let i = index" style="height:100%">
        <div cdkDropList #stage="cdkDropList" id="{{ stage }}" [cdkDropListData]="getFilteredData(saleFilter, stage)"
          style="height:100%" [cdkDropListConnectedTo]="getFilteredStatus(saleStatus, stage)"
          class="example-list bg-white" [ngClass]="{'collapsed': stageCollapseArray[i]}"
          (cdkDropListDropped)="drop($event)">


          <!--Collapsed header-->
          <div class="d-flex flex-column bd-highlight justify-content-left  border border-2 rounded "
            *ngIf="stageCollapseArray[i]" [ngClass]="stageInPipeline(i).border + ' '+ stageInPipeline(i).background ">
            <div class="p-2 bd-highlight align-items-center">
              <button mat-icon-button (click)="hideStage(i)" color="accent"
                title="Expand {{saleSettings.salesStage.displayName}}">
                <mat-icon>
                  <span class="material-symbols-outlined">
                    keyboard_double_arrow_right
                  </span>
                </mat-icon>
              </button>
            </div>
            <div class="p-2 bd-highlight">
              <h3 id="titleDesign" style="writing-mode: vertical-rl" [ngClass]="stageInPipeline(i).text ">
                {{ commonService.getStatusName('sales', tableService.pipelineSaleSelection,stage) }}
                <span class="badge " [ngClass]="stageInPipeline(i).badge + ' '+ stageInPipeline(i).text "
                  title="Number of {{fieldNameSale}}s">{{getFilteredData(saleFilter, stage).length}}</span>
              </h3>
            </div>
          </div>



          <div *ngIf="stageCollapseArray[i]==false">
            <div class="box">
              <div class="row header">
                <!--Expanded header-->
                <div class="d-flex flex-row bd-highlight justify-content-between border border-2 rounded "
                  [ngClass]="stageInPipeline(i).border + ' '+ stageInPipeline(i).background ">

                  <div class=" bd-highlight">
                    <h3 id="titleDesign" class="mat-h3 mat-subheading-2" [ngClass]="stageInPipeline(i).text ">
                      {{ commonService.getStatusName('sales', tableService.pipelineSaleSelection,stage)
                      }}
                      <span class="badge " [ngClass]="stageInPipeline(i).badge + ' '+ stageInPipeline(i).text "
                        title="Number of {{fieldNameSale}}s">{{getFilteredData(saleFilter, stage).length}}</span>
                    </h3>
                  </div>
                  <div class=" bd-highlight ">
                    <button mat-icon-button (click)="hideStage(i)" color="accent" title="Collapse Stage">
                      <mat-icon>
                        <span class="material-symbols-outlined">
                          keyboard_double_arrow_left
                        </span>
                      </mat-icon>
                    </button>
                  </div>
                </div>
              </div>
              <div class="row content">
                <cdk-virtual-scroll-viewport itemSize="200" class="example-viewport">

                  <div class="card" style="margin:10px" [cdkDragDisabled]="disableSaleEdit" [cdkDragData]="saleFiltered"
                    cdkDrag *cdkVirtualFor="
                      let saleFiltered of getFilteredData(saleFilter, stage);
                      trackBy: trackbySaleList
                    ">

                    <div class="card-body">
                      <div class="d-flex flex-column bd-highlight justify-content-between">
                        <div class="bd-highlight">
                          <h3 class="card-title truncate-cell">
                            <a class="link-primary" [routerLink]="['/dash/sales/saleview/',saleFiltered.id]"> {{
                              saleFiltered.saleTitle }} </a>
                          </h3>

                          <ul class="list-unstyled" style="margin-bottom: 5px;">
                            <li *ngFor="let field of displayFields">{{field.header}}: {{getFieldValue(field,
                              saleFiltered)}} </li>
                          </ul>
                        </div>
                      </div>

                      <div style="padding-bottom: 10px;">
                        <mat-chip-list aria-label="Aged">
                          <mat-chip class="truncate-cell2" *ngIf="saleFiltered.orgId" title="{{fieldNameOrganization}}"
                            style="
                                                    color:#2a6af6;
                                                    background-color: #f1f2f4;
                                                    height: 24px;
                                                    top: calc(50% - 24px / 2);
                                                    font-family: Roboto;
                                                    font-style: normal;
                                                    font-weight: 500;
                                                    font-size: 12px;
                                                    line-height: 24px;">{{ saleFiltered.companyName }}</mat-chip>
                          <mat-chip title="{{fieldNameContact}} name" class="truncate-cell2" style="
                                                    color: #2a6af6;
                                                    background-color: #f1f2f4;
                                                    height: 24px;
                                                    top: calc(50% - 24px / 2);
                                                    font-family: Roboto;
                                                    font-style: normal;
                                                    font-weight: 500;
                                                    font-size: 12px;
                                                    line-height: 24px;">
                            <a class="link-primary"
                              [routerLink]="['/dash/contact/customerdetails/',saleFiltered.customerId]"> {{
                              saleFiltered.firstName }} <span
                                *ngIf="saleFiltered.secondName">&nbsp;{{saleFiltered.secondName}}</span> <span
                                *ngIf="saleFiltered.surname">&nbsp;{{saleFiltered.surname}}</span> </a>
                          </mat-chip>

                        </mat-chip-list>


                      </div>

                      <div class="d-flex flex-row bd-highlight justify-content-between">

                        <div class="bd-highlight">

                          <span class="badge bg-soft-danger text-danger" *ngIf="getAgedStatus(saleFiltered)"
                            title="Max allowed days in stage crossed">Aged</span>

                        </div>



                        <div class="d-flex flex-row">
                          <!-- vertical 3 dot button and its actions -->
                          <button mat-icon-button aria-label="Example icon button with a vertical three dot icon"
                            [matMenuTriggerFor]="menuAdd">
                            <mat-icon color="accent">add</mat-icon>
                          </button>

                          <button mat-icon-button aria-label="edit button" (click)="editSale(saleFiltered)"
                            [disabled]="disableSaleEdit || !onCheckNetwork()">
                            <mat-icon color="accent" [ngClass]="{ isDisabled: disableSaleEdit || !onCheckNetwork() }">edit</mat-icon>
                          </button>

                          <span style="margin-top: 5px;">
                            <ngx-avatar
                              name="{{commonService.getAssignedToName(saleFiltered.assignedTo).split(' ')[0] }}"
                              textSizeRatio="2" size="30"
                              title="Assigned to {{commonService.getAssignedToName(saleFiltered.assignedTo)}}">
                            </ngx-avatar>
                          </span>

                          <mat-menu #menuAdd="matMenu">

                            <!-- add task -->
                            <button mat-menu-item (click)="addTask(saleFiltered)">
                              <mat-icon color="accent">add_task</mat-icon>{{ fieldNameTask }}
                            </button>

                            <!-- add followUp -->
                            <button mat-menu-item (click)="onCreateFollowUps(saleFiltered)"
                              [ngClass]="{ isDisabled: disableFoll }">
                              <mat-icon color="accent">call</mat-icon>{{ fieldNameFollowup }}
                            </button>

                            <!-- add sales doc -->
                            <button mat-menu-item [matMenuTriggerFor]="beforeMenu">
                              <mat-icon color="accent">article</mat-icon>
                              Document
                            </button>

                            <mat-menu #beforeMenu="matMenu">
                              <button mat-menu-item
                                (click)="createEstimate(saleFiltered.id, saleFiltered.customerId,saleFiltered.orgId)"
                                [disabled]="
                              commonService.addDocLimitaion.addEstimateDisable ||
                              disableDocCreateEst
                            ">
                                {{ fieldNameEstimate }}
                              </button>
                              <button mat-menu-item
                                (click)="createQuote(saleFiltered.id, saleFiltered.customerId,saleFiltered.orgId)"
                                [disabled]="
                              commonService.addDocLimitaion.addQuotationDisable ||
                              disableDocCreateQuot
                            ">
                                {{ fieldNameQuotation }}
                              </button>
                              <button mat-menu-item
                                (click)="createInvoice(saleFiltered.id, saleFiltered.customerId,saleFiltered.orgId)"
                                [disabled]="
                              commonService.addDocLimitaion.addInvoiceDisable ||
                              disableDocCreateInv
                            ">
                                {{ fieldNameInvoice }}
                              </button>
                            </mat-menu>

                          </mat-menu>
                        </div>

                      </div>

                    </div>

                  </div>
                </cdk-virtual-scroll-viewport>
              </div>
              <div class="row footer">
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
    </div>
  </div>
</ng-container>