<h3 style="font-size: 18px">Template Type</h3>

<!-- SMS or Whatsapp selecteion -->
<mat-form-field style="width: 100%" appearance="fill">
  <mat-label>Choose Template For</mat-label>
  <mat-select [(ngModel)]="templateType" name="templateType" required>
    <mat-option
      value="{{ tempType }}"
      *ngFor="let tempType of tempTypeList"
      >{{ tempType }}</mat-option
    >
  </mat-select>
</mat-form-field>

<br />

<!-- Template For Selection -->
<mat-form-field style="width: 100%" appearance="fill">
  <mat-label>Choose Template Record Type</mat-label>
  <mat-select [(ngModel)]="smsTempFor" name="smsTempFor" required>
    <mat-option
      value="{{ smsType.value }}"
      *ngFor="let smsType of smsTypeList"
      >{{ smsType.display }}</mat-option
    >
  </mat-select>
</mat-form-field>

<div mat-dialog-actions style="padding-left: 2%; float: right">
  <button mat-button (click)="onNoClick()">Cancel</button>

  <button
    color="accent"
    mat-button
    [mat-dialog-close]="[templateType, smsTempFor]"
    [disabled]="!templateType || !smsTempFor"
  >
    Save
  </button>
</div>
