.example-full-width {
  width: 100%;
}
.example-chip-list {
  width: 100%;
}
pre {
  font-family: Arial, Helvetica, sans-serif;
  color: #212529;
  border: none;
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
