// ::ng-deep .mat-toolbar {
//   position: relative;
//   z-index: 2;
// }
.no-v-scroll {
  height: 100%;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  padding: 0 !important;
  overflow-x: hidden;
}

table {
  width: 100%;
}

.full-width {
  width: 100%;
}




.collapsed {
  width: 50px;
}

.invisible {
  display: block;
  visibility: hidden;
  height: 0;
  width: 0;
}

.example-viewport {
  min-width: 300px;
  //height: 70vh;

  width: auto;
  overflow-y: visible;


}



.example-item {
  height: 50px;
}

.wrapper {

  overflow-x: auto;
  height: 100%;
  margin-bottom: 2px;
  overflow-y: hidden;

}

.wrapper .item {
  padding-left: 2.5px;
  padding-right: 2.5px;

  height: 98%;
  margin-bottom: 5px;
}

.card-body {
  padding: 10px;
}

.truncate-cell2 {
  max-width: 220px;
  /* feel free to include any other value */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.truncate-cell {
  max-width: 150px;
  /* feel free to include any other value */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.example-container {
  width: 400px;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
}

#titleDesign {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.example-list {
  //background: ghostwhite;
  border-radius: 4px;
  min-height: 100%;
  display: block;
}

.mat-card-title {
  font-size: medium;

}

.example-box {
  padding: 10px;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
  margin: 10px;
  border-radius: 4px;

}

.card:hover {
  box-shadow: -1px 5px 15px 0px rgba(0, 0, 0, 0.3);
  cursor: move;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

p {
  font-size: 15px;
}

mat-card:hover {
  cursor: pointer;
}

.mat-column-select {
  overflow: initial;
}

#mobileview {
  display: none;
}

.container {
  display: block;
}

@media only screen and (min-width: 100px) and (max-width: 320px) {
  #mobileview {
    display: block;
  }

  .container {
    display: none;
  }

  input {
    width: 90%;
  }

  .col {
    width: 100%;
  }

  .container-xl {
    width: 100%;
  }
}

@media only screen and (min-width: 321px) and (max-width: 375px) {
  .container-xl {
    width: 100%;
  }

  #mobileview {
    display: block;
  }

  .container {
    display: none;
  }

  input {
    width: 90%;
  }

  .col {
    width: 100%;
  }
}

@media only screen and (min-width: 376px) and (max-width: 425px) {
  .container-xl {
    width: 100%;
  }

  #mobileview {
    display: block;
  }

  .container {
    display: none;
  }

  input {
    width: 90%;
  }

  .col {
    width: 100%;
  }
}

section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 18px;
  margin-left: 8px;
  min-width: 80px;
}

.example-button-row {
  display: table-cell;
  width: 80px;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 40px;
}

th.mat-sort-header-sorted {
  color: black;
}

.example-spacer {
  flex: 1 1 auto;
}

.isDisabled {
  color: currentColor;
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
  text-decoration: none;
}


.inline-icon {
  position: relative;
  top: 5px;
  bottom: 5px
}

.chipStyling {
  color: #2a6af6;
  background-color: #f1f2f4;
  height: 24px;
  top: calc(50% - 24px / 2);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
}

.demo-table {
  width: 100%;
}

.item {
  //flex-grow: 1;
  flex-basis: 300px;
  margin: 10px;
}

::ng-deep.mat-checkbox-layout {
  margin-bottom: 0;
}

.customIcon {
  display: inline-flex;
  vertical-align: middle;
}

.box {
  display: flex;
  flex-flow: column;

  height: calc(100vh - 50px - 90px) !important //100vh- main toolbar height - component toolbar height
}

.box .row {
  border: 1px grey;

}

.box .row.header {
  flex: 0 1 auto;
  margin: 0px;

  /* The above is shorthand for:
    flex-grow: 0,
    flex-shrink: 1,
    flex-basis: auto
    */
}

.box .row.content {
  flex: 1 1 auto;
  margin: 0px;

}

.box .row.footer {
  flex: 0 1 2px;
  margin: 0px;
}

.center1 {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}