.gold {
  border: solid 2px #d4af37;
  text-transform: uppercase;
  color: #d4af37;
  font-weight: 700;
}
.diamond {
  border: solid 2px #a32cc4;
  text-transform: uppercase;
  color: #a32cc4;
  font-weight: 700;
}
