.example-full-width{
  width: 100%;
}
.centered {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
}
.center{
  margin-left: 50%;
}
// #wrapper{
//   padding: 16px;
//   min-height: 100%;
//   height: 100%;
//   box-sizing: border-box;/*new*/
// }
// #tab-group{
//   height: 100%;
// }
// #tab-group mat-tab-body {
//   flex-grow: 1;
// }
// .mat-tab-body-wrapper{
//   flex-grow: 1;
// }

.danger{
  color: #ff0000;
}

// :host ::ng-deep .mat-tab-body.mat-tab-body-active {
//   height: 400px;
// }

.warn-color{
  color: #ff0000;
}
::ng-deep.mff mat-form-field {
  margin-left: 16px;
  
}
.add-width{
  width: 100% !important;
}
::ng-deep .mat-dialog-content {
  overflow-x: hidden !important;
}
.dateTime-wdith{
  width: 50% !important;
  padding: 5px;
}


